[2020-07-12 16:20] mkaze opened #1 "Purpose, scope and road-map of this repository"
I just found this repository (and its CV counterpart, [keras-cv](https://github.com/keras-team/keras-cv)). Unfortunately, its one-line description, i.e. "Industry-strength Natural Language Processing workflows with Keras", is a bit vague and does not help to understand its scope and purpose. It would be great if you could kindly explain what this repository intends to cover exactly, and if there i

[2020-07-20 16:30] bhack commented on #1
What will be the relationship with https://github.com/tensorflow/text?

[2020-08-27 05:10] tanzhenyu commented on #1
I will get to this EOW, thanks for creating this issue!

[2020-08-27 18:37] tanzhenyu commented on #1
https://github.com/keras-team/governance/pull/21

[2020-09-17 22:44] tanzhenyu commented on #1
Closing this as RFC is merged

[2020-09-17 22:44] #1 closed

[2020-12-18 10:57] coleridge72 opened #4 "Depending on tf-nightly vs stable"
Is it possible to depend on a stable version of Tensorflow?

TF-nightly leads to a few issues when I try and use keras-nlp with other libs like tf-agents & dm-reverb

 https://github.com/keras-team/keras-nlp/blob/e62eb2ed05e6be88f40698b77e13c7ef2c751d13/setup.py#L44

[2021-02-21 13:34] #4 closed

[2022-01-18 19:29] bhack opened #11 "tf.addons.text ops coverage"
Are you interested to cover some of the ops in this namespace (expecially CRF):

https://www.tensorflow.org/addons/api_docs/python/tfa/text

[2022-01-26 20:23] mattdangerw commented on #11
Thanks for bringing this up! This is helpful!

I am unsure of how we could monitor for usage of the TFA utilities, but can poke around. That could help us prioritize well here.

Re CRF, did you have a design in mind?

I think the highest priority symbol of the bunch might be the `skip_gram*` functions. We have these in TFA, and another similar version in [keras.preprocessing](https://www.tensorflo

[2022-01-26 21:27] bhack commented on #11
We have a quite old and long thread about this at:
https://github.com/tensorflow/addons/issues/236

I think that @howl-anderson, our new CRF codeowner, could give use some feedback.

This has an (old) [custom op](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/custom_ops/text/cc/kernels) in TFA so I hope that you can handle it here with a pure compositional python/TF solution.

[2022-02-08 23:01] mattdangerw opened #19 "Add type annotations for TransformerEncoder and TransformerDecoder"
We would like to use type annotations in KerasNLP. We should add them for the encoder/decoder blocks...

https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/transformer_decoder.py
https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/transformer_encoder.py

[2022-02-08 23:05] mattdangerw opened #20 "Integrate TransformerEncoder into the BERT example"
We should update https://github.com/keras-team/keras-nlp/tree/master/examples/bert to use `keras_nlp.layers.TransformerEncoder`.

[2022-02-08 23:14] mattdangerw opened #21 "Add an example script for doing GLUE evaluation of a trained BERT model"
Essentially, we need to fill in the section of the README here:
https://github.com/keras-team/keras-nlp/tree/master/examples/bert#evaluating-bert-with-glue

This will explicitly not be adding anything to the library proper, but will help us better evaluate what modular components we can abstract out for running fine-tuning and inference with GLUE.

[2022-02-08 23:14] mattdangerw commented on #21
A good starting place for this:

https://github.com/google-research/bert/blob/master/run_classifier.py

[2022-02-08 23:21] mattdangerw opened #22 "Add a WordPiece tokenizer layer"
[Tensorflow text](https://www.tensorflow.org/text) provides a set of efficient, in graph, WordPiece tokenization ops.

We would like to expose these through a keras layer in a way that is easily configurable, supports both tokenization and detokenization, and integrates properly with Keras functional models.

This can serve as an example for future subword tokenization work in this library.

[2022-02-08 23:28] mattdangerw opened #23 "Add a learned positional embedding layer"
We should expose the a keras layer for a learned positional embedding through keras_nlp.

This will take as input a maximum sequence length and embedding dimension size, and learn a positional embedding that can be combined with a token embedding.

[2022-02-08 23:30] mattdangerw opened #24 "Add type annotations to the bert example"
We would like to use type annotations in KerasNLP. We should add them to the BERT example code in https://github.com/keras-team/keras-nlp/tree/master/examples/bert

[2022-02-08 23:35] chenmoneygithub opened #25 "Add an e2e example of TransformerEncoder and TransformerDecoder"
**Is your feature request related to a problem? Please describe.**

We added TransformerEncoder and TransformerDecoder class, and we need an example to showcase how they can be used, and also for testing.

**Describe the solution you'd like**

We can follow this tutorial: https://keras.io/examples/nlp/neural_machine_translation_with_transformer/

[2022-02-09 00:04] mattdangerw opened #26 "Add a sinusoidal embedding layer"
Along with a learned positional embedding (https://github.com/keras-team/keras-nlp/issues/23), we should add a fixed sin/cos embedding as described in [Attention is all you need](https://arxiv.org/pdf/1706.03762.pdf).

[2022-02-09 00:09] mattdangerw opened #27 "Add a SentencePiece tokenizer layer"
After landing the WordPiece tokenizer (https://github.com/keras-team/keras-nlp/issues/22) and hammering out a layerized tokenizer design, we should also support for SentencePiece tokenization. SentencePiece is both language agnostic and reversible, and will be an important addition to our tokenization offering. SentencePiece graph ops are already supported by [tensorflow text](https://www.tensorfl

[2022-02-13 08:10] howl-anderson commented on #24
I am familiar with TensorFlow/Keras and the BERT theory and implementations (from the TensorFlow Model Garden). I would like to take this task and will send a PR later.

[2022-02-13 08:11] howl-anderson commented on #19
I am familiar with TensorFlow/Keras and the transformer theory and implementations (from the TensorFlow Model Garden). I would like to take this task and will send a PR later.

[2022-02-24 04:29] mattdangerw commented on #24
Thank you! Please tag me for review!

[2022-02-24 04:29] mattdangerw commented on #19
Thank you! Please tag me for review!

[2022-03-05 20:30] chenmoneygithub opened #37 "Problems of running BERT example: BookCorpus cannot be downloaded"
**Describe the bug**
Downloading bookcorpus via the [repo mentioned in BERT instruction]((https://github.com/soskek/bookcorpus/blob/master/README.md) hit an error: HTTPError: ```HTTP Error 503: Service Temporarily Unavailable
Failed to open https://www.smashwords.com/books/download/459173/6/latest/0/0/imperfect-chemistry.txt```

This might be transient since the error code is 503, but we need to f

[2022-03-07 18:59] mattdangerw commented on #37
I would suggest using the "file by Shawn Presser" at the top of the README. That skips running the code to recreate.

Another option would be huggingface datasets, though some work would be needed to get these out of their format.

I'll update the README to include a few different sources, we probably shouldn't try to list just one as there's no official source anymore.

[2022-03-09 04:03] abheesht17 opened #38 "Add NLP-specific metrics"
@mattdangerw and the keras-nlp team:

For standard classification metrics (AUC, F1, Precision, Recall, Accuracy, etc.), [keras.metrics](https://keras.io/api/metrics/) can be used. But there are several NLP-specific metrics which can be implemented here. I would like to take this up. I can start with the popular ones first and open PRs. Let me know if this is something the team is looking to add!

[2022-03-10 06:19] mattdangerw commented on #38
@abheesht17 nice to meet you and thanks for opening this! Metrics are definitely something we are interested in building in keras-nlp, and we would be very happy to have you contribute.

We don't have any metrics to date, so I think it might help to identify one of these to start with that we feel is particularly well-defined and popular (perhaps BLEU?).

From there it would be helpful to iterate

[2022-03-10 07:47] abheesht17 commented on #38
@mattdangerw, sounds good to me! I'll share a Colab notebook soon 👍🏼

[2022-03-13 10:34] aflah02 opened #39 "Adding Data Augmentation Techniques Natively"
I'm interested in contributing scripts which allow users to incorporate data augmentation techniques directly without using external libraries.
I can start with stuff like synonym replacement, random insertion, random swap, and random deletion from the paper [EDA: Easy Data Augmentation Techniques for Boosting Performance on Text Classification Tasks](https://arxiv.org/abs/1901.11196)
Over time th

[2022-03-13 10:35] aflah02 commented on #39
This is also partly inspired by the ideas mentioned in the [GSOC Document](https://docs.google.com/document/d/1fLDLwIhnwDUz3uUV8RyUZiOlmTN9Uzy5ZuvI8iDDFf8/edit#)

[2022-03-13 12:24] aflah02 commented on #38
@abheesht17 I'd suggest adding perplexity as well as it's one of the trickier metrics to use. Especially since it often gives inconsistent results and hugely varying results (in orders of magnitude) across different implementations by different existing libraries in my experience

[2022-03-13 13:27] abheesht17 commented on #38
@aflah02, good point. Will do!

[2022-03-14 05:44] aflah02 commented on #39
@mattdangerw and rest of the Keras-Team would be great to hear your thoughts on this

[2022-03-14 13:53] amantayal44 commented on #26
I am familiar with transformer and TensorFlow, interested in taking up this issue.

[2022-03-14 17:22] abheesht17 opened #40 "Add FNet Encoder Layer"
@mattdangerw , @chenmoneygithub and the rest of the keras-nlp team:

The [FNet](https://arxiv.org/abs/2105.03824) paper, which came out last year, uses FFTs instead of attention and achieves 95% of BERT's performance on various downstream tasks. It would be great if we could add this to the library. Simultaneously, a text classification example can be added (using a few FNet Encoder layers). Would

[2022-03-14 17:30] abheesht17 opened #41 "Typo in TransformerEncoder doc-string"
Noticed a minor issue (typo) in the doc-string of the TransformerEncoder Layer: https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/transformer_encoder.py.

[Line 46](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/transformer_encoder.py#L46)
[Line 50](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/transformer_encoder.py#L50)
[Line 55](ht

[2022-03-14 19:48] chenmoneygithub commented on #41
Thanks for reporting the issue and writing the PR! PR is approved.

[2022-03-14 19:52] #41 closed

[2022-03-15 18:23] mattdangerw commented on #26
@amantayal44 that would be great!

@hertschuh is currently working on #23 which should be up for review shortly. It would probably be good to wait for us to at least discuss the overall design on that embedding layer before starting on this, so we can align on naming and the like. Then the code for that layer could be a good launching off point for this.

[2022-03-16 17:06] abheesht17 opened #45 "Add Remaining Tokenizers"
Below is a list of commonly used tokenizers which can be implemented. @mattdangerw, @chenmoneygithub, let me know what your thoughts on these tokenizers are (whether we should implement all of these, or skip some). Thanks!

- [ ] **Space + Punctuation Tokenizer**: I know that subword tokenizers are in vogue nowadays. However, a model as recent as Transformer XL uses a generic **Space + Punctuation

[2022-03-16 17:56] mattdangerw commented on #45
Thanks!

 - For space and punctuation tokenizer, we have the TextVectorization layer in core Keras. It might be nice to wrap that in a Tokenizer base class form at some point for consistency, but that's something we are still discussing. Let's not pull that work now.
 - For BPE tokenizer, this is indeed something we want, but the implementation will come with some challenged. I'll open an issue wh

[2022-03-16 18:03] abheesht17 commented on #45
Ah, I see. Let's discuss BPE 👍🏼

[2022-03-16 18:23] mattdangerw opened #46 "Add a byte pair encoding (BPE) tokenizer layer"
We would like to add a BPE tokenizer (used by gpt-2, roberta and others). This ideally should be configurable to be compatible with the actual tokenization used by gpt-2 and roberta, and run inside a tensorflow graph.

[2022-03-16 18:37] abheesht17 commented on #46
Nice! Should I draw up a rough implementation and share a Colab notebook?

[2022-03-16 19:00] mattdangerw commented on #46
@abheesht17 you are definitely welcome to help with this! This will require some diving into other libraries, to understand the support we have today.

[2022-03-16 19:01] mattdangerw commented on #45
Opened https://github.com/keras-team/keras-nlp/issues/46 for BPE. Let's close this, as this is sort of a catch all issue.

[2022-03-16 19:01] #45 closed

[2022-03-17 01:14] mattdangerw commented on #38
Thanks very much! I will carve out some time to look over this soon!

One useful resource on perplexity if you haven't seen it is here. https://huggingface.co/docs/transformers/perplexity

I don't think the notebook you are sharing will calculate a correct perplexity for a fixed window. But I'm not sure that is feasible as a live metric during training.

[2022-03-17 02:25] abheesht17 commented on #46
Great, will do 👍🏼

[2022-03-17 03:15] abheesht17 commented on #38
Yeah, correct. It won't work for a fixed window. If we want a fixed window, we could make a separate function and ask the user to pass the model and the tokenised input (of the whole corpus, or at least of reasonably sized chunks of the corpus, if the corpus is too big to be loaded in memory?).

I checked a few scripts. Most of them just take the exponent of the loss at the end of every epoch/end

[2022-03-17 03:16] abheesht17 commented on #38
Also, let me know if there is a way to circumvent the difficulty I am currently facing with BLEU Score.

[2022-03-17 16:34] abheesht17 commented on #46
Hey, @mattdangerw. I went through this [issue](https://github.com/tensorflow/text/issues/763). So, essentially, this is what you want me to do:

1. Use the [SentencePiece library](https://github.com/google/sentencepiece), and configure it so as to train a byte-level BPE tokeniser. Use a small text corpus for training.
2. Use the `.model` file obtained after training and pass it to [TensorFlow Text

[2022-03-17 17:50] #21 closed

[2022-03-17 17:53] aflah02 commented on #39
I've implemented it seems I'm getting the almost 3% gains mentioned in the paper
https://github.com/aflah02/Easy-Data-Augmentation-Implementation/blob/main/EDA.ipynb
What should be the next step now? @mattdangerw or anyone else from the Keras Team

[2022-03-18 01:38] mattdangerw commented on #46
I'm not sure we need to actually train a sentence piece model, though that might help understand things.

Basically, the public API we can rely on that might give us the op support we need is tf text's [SentencepieceTokenizer](https://www.tensorflow.org/text/api_docs/python/text/SentencepieceTokenizer), but that takes a sentence piece [model proto](https://github.com/google/sentencepiece/blob/mast

[2022-03-18 02:05] mattdangerw commented on #39
Thank you very much for digging into this!

Bear with us for a bit here as we figure out an approach we would like to take with data augmentation. We are taking a look and will reply more soon. There's a lot of question this brings up (how to handle static assets, how to make layerized versions of these components, multilingual support). But overall data augmentation is something we would like to

[2022-03-18 02:32] mattdangerw commented on #22
This is in as of https://github.com/keras-team/keras-nlp/pull/18

[2022-03-18 02:32] #22 closed

[2022-03-18 05:03] abheesht17 commented on #46
Ah, understood. Thanks for clarifying!

[2022-03-18 06:47] aflah02 commented on #39
@mattdangerw Sure! I had quite a bit of fun while trying to implement this too, while you guys figure out the way you'd prefer I'll try implementing other techniques too

[2022-03-18 12:23] aflah02 commented on #39
Backtranslation done on smaller sample size also seems pretty good at giving results:
https://github.com/aflah02/BackTranslation-Based-Data-Augmentation
Maybe we could do this using parallelized processes to make it faster as for large datasets, it sucks right now so I'll check that out too

[2022-03-18 23:52] mattdangerw opened #48 "Add initializer arguments to TransformerEncoder/TransformerDecoder"
We should add `kernel_initializer` and `bias_initializer` arguments to the TransformerEncoder/TransformerDecoder. These initializer should be passed to the dense and multi head attention layers with the encoder/decoder, and saved in the config.

[2022-03-18 23:53] mattdangerw commented on #48
New contributors should feel free to pick this up! Ping if more details are required.

[2022-03-19 00:13] mattdangerw opened #49 "Fix rank 1 outputs for WordPieceTokenizer"
Right now, a scalar string inputs to the tokenizer will turn into rank 2 outputs, which we do not want. Scalar inputs should result in rank 1 outputs.

See this colab for a reproduction of the issue:
https://colab.research.google.com/gist/mattdangerw/8e1fdbebadf0ff6ff2dc065b2e00db65/rank1wordpiece.ipynb

[2022-03-19 00:21] mattdangerw commented on #49
This gets a little tricky in how this will work with ragged outputs.

When `sequence_length` is defined, the output for a scalar should be a dense rank 1 tensor with shape `[sequence_length]`.

When `sequence_length=None`, we can't output a ragged tensor for a scalar input, as there is no such thing as a ragged rank 1 tensor. Instead we should output a dense tensor, with static shape of `[None]`.

[2022-03-19 00:35] mattdangerw commented on #39
If you are looking for something to pick up in the meantime, opened a couple issues tagged with "good first issue" where our design is fully defined. Will try to keep expanding that list.

[2022-03-19 00:43] aflah02 commented on #48
Hey
I'd like to take this up. I'll have look at the relevant code base and get back if I face any issues

[2022-03-19 00:44] mattdangerw commented on #48
Thanks!

[2022-03-19 08:20] aflah02 commented on #48
Hey
Just wished to confirm a few things

- I've used `initializers` from `keras.initializers` as that is what's used in all other places so I thought that's what we'll be using here as well
- I'm also adding some tests, is there anything else I should do too? I've added relevant docstrings to the encoder and decoder files

[2022-03-19 09:03] aflah02 commented on #49
Hey
I'd like to try out this issue as well. I've raised a PR for the other one and would make changes there as advised

[2022-03-19 19:55] aflah02 commented on #49
@mattdangerw
I just wished to confirm a couple of things -
- For the non ragged tensor case a simple reshape should suffice right?
- For the case with ragged tensors I should eliminate it all together and return a dense tensor so that would mean I add an else statement and handle it [here](https://github.com/keras-team/keras-nlp/blob/da3da0e8afd264eca095da003946d9c9271995e8/keras_nlp/tokenizers/wo

[2022-03-19 20:11] aflah02 commented on #39
I recently came across this paper [SSMBA: Self-Supervised Manifold Based Data Augmentation for Improving Out-of-Domain Robustness](https://aclanthology.org/2020.emnlp-main.97.pdf) which uses a corruption and reconstruction function to recreate new samples from the real data. This seems to be an interesting one since although it's computationally more expensive than rule based techniques but gives

[2022-03-20 07:37] abheesht17 commented on #46
Some useful articles about how Hugging Face tokenises the input text (given `vocab.txt` and `merges.txt`):

https://github.com/huggingface/transformers/issues/1083#issuecomment-524303077
https://github.com/huggingface/transformers/issues/4777

[2022-03-20 08:48] aflah02 commented on #24
Hey
Is this issue still open?

[2022-03-20 11:41] howl-anderson commented on #24
Hi @aflah02, sorry for the slow progress. I am still working on adding type annotations to the BERT.

[2022-03-20 11:47] aflah02 commented on #24
Hey @howl-anderson
That's cool, no need to say sorry I was just looking around :) and must've missed that you're already assigned

[2022-03-20 16:26] abheesht17 opened #51 "Add Token Classification, Text Summarisation, QA Examples"
We can add a few examples:

- Token Classification with BERT
**Dataset:** CoNLL 2003
**What's different?** Here, we have to classify every word into its NER type. However, since BERT tokenises text into **subwords**, we will have more tokens than labels (number of labels will be equal to the number of words). So, we have to assign to all subwords the label of the word which spawned it. I think thi

[2022-03-20 16:27] abheesht17 opened #52 "Add Notebooks for Examples"
We can add notebooks (or share Colab notebooks) for existing examples in the library (with instructive text and explanation).

[2022-03-20 18:47] abheesht17 commented on #38
@mattdangerw, here is a rough implementation of ROUGE-L: https://colab.research.google.com/drive/1xchVi4DsG_2gfi8FmO-g9GZS6-7CIFnz?usp=sharing.

I checked if the code was working in graph mode by adding `@tf.function`, so ideally, it should work during training as well. I'll add a training example tomorrow to verify again.

Let me know if there are any changes required. Thanks!

[2022-03-21 12:20] aflah02 commented on #39
Another great paper [(Synthetic and Natural Noise Both Break Neural Machine Translation)](https://arxiv.org/pdf/1711.02173.pdf) which aims to make NMT models more robust to typos and other corruptions which humans can easily overcome. They use 4 techniques which include some interesting ones such as mimicking keyboard typos based on characters in the neighbourhood of another character.

[2022-03-21 12:25] aflah02 opened #53 "Adding Installation Process in the README"
I think it would be a good idea if we add how someone can use the repository currently (pre-release) on Google Colab or locally by cloning and pip installing it as a part of the README or an Installation.md type file

The instructions would be pretty much:

1) Clone the repository using `git clone https://github.com/keras-team/keras-nlp` or downloading it directly
2) Moving into the directory usin

[2022-03-21 16:44] abheesht17 commented on #53
https://github.com/keras-team/keras-nlp/blob/master/.github/CONTRIBUTING.md#setup-environment

[2022-03-21 17:02] aflah02 commented on #53
Thanks @abheesht17 I didn't see that it already exists

[2022-03-21 17:02] #53 closed, assigned to nobody

[2022-03-21 17:54] abheesht17 commented on #38
Added rough training examples for ROUGE-L and ROUGE-N.

[2022-03-21 17:57] chenmoneygithub commented on #48
I just dropped some comments on your PR, overall looks good. Thanks for your contributions!

[2022-03-21 18:09] chenmoneygithub commented on #52
@abheesht17 Thanks for reporting the issue!

For BERT example it is a bit hard to write the colab for the full pretraining due to the size and complexity of data preprocessing. The machine translation example is basically following [this Keras tutorial](https://keras.io/examples/nlp/neural_machine_translation_with_transformer/), so we may not want a duplicated colab tutorial.

But yes, generally i

[2022-03-21 18:16] chenmoneygithub commented on #52
Yea, that one would be nice to add!

[2022-03-21 18:23] mattdangerw commented on #51
These are things we would like to have, but are not things we will work on right now. Before this, we need to figure out our desired story for pretraining with the library (actively under discussion).

[2022-03-21 18:23] abheesht17 commented on #52
Sure 👍🏼

[2022-03-21 18:25] abheesht17 commented on #51
Cool, makes sense 👍🏼

[2022-03-21 18:49] mattdangerw commented on #49
When `sequence_length` is set, should be fine to just squeeze the leading dim I think.

When `sequence_length` is not set, yeah don't change the underlying tf text tokenizer. Adding some logic around that if block you pointed to sounds good. You will need to covert to dense in the case where the output should be rank 1, squeeze the extra dimension, and then I think you could do `output.set_shape([

[2022-03-22 00:42] chenmoneygithub opened #54 "Add a layer to dynamically generate mask"
**Is your feature request related to a problem? Please describe.**
Masking is an essential part in LM models, so we need to have a layer to do the work.

**Describe the solution you'd like**
Create a new layer, which takes in sequence data (could be both RaggedTensor and Tensor), and returns masked sequence, and masked positions and ids.

**Describe alternatives you've considered**
We can directly

[2022-03-22 17:45] mattdangerw opened #56 "Add a BERT input packing layer"
BERT models need additional input preprocessing after tokenization. Inputs need to "packed" into the context length, with `[CLS]` and `[SEP]` tokens, and a separate tensor of segment ids needs to be prepared to make the segment embedding. We should make a layer or set of layers that helps with this.

[2022-03-22 18:28] aflah02 commented on #49
Thanks for the review!
I'll get to work on this

[2022-03-22 18:51] aflah02 opened #58 "Issues with Running lint.sh and format.sh"
I noticed that some tests for code formatting were failing in #50
Hence I tried to run `format.sh` however encountered this issue -

[code]

same when I run `lint.sh`

[code]

I'm running these in a conda env in WSL on Windows 11

[2022-03-22 19:16] aflah02 commented on #58
It seems the issue is caused by CRLF/LF, when I manually chose CRLF for my .sh files in vscode the issue stopped appearing

[2022-03-22 19:16] #58 closed

[2022-03-23 08:59] amantayal44 commented on #26
yes sure

[2022-03-23 10:01] aflah02 commented on #49
@mattdangerw
Does [this](https://github.com/aflah02/keras-nlp/blob/f403f6602be04a6c064125dea3f8c222f156ccc3/keras_nlp/tokenizers/word_piece_tokenizer.py#L270) seem like a correct approach?

I'll add relevant tests and change doc strings accordingly if this code is what's intended

[2022-03-23 14:17] abheesht17 commented on #38
Hey, @mattdangerw! Any thoughts on this? These are the three notebooks (rough implementations):

Perplexity: https://colab.research.google.com/drive/1BH1lTw_qLK6671oWaoU15IrUKSQfd6oE?usp=sharing
ROUGE-L: https://colab.research.google.com/drive/1xchVi4DsG_2gfi8FmO-g9GZS6-7CIFnz?usp=sharing
ROUGE-N: https://colab.research.google.com/drive/1jurZQeHH760TyOHkjjae-eqkjpC7qSTc?usp=sharing

Thanks!

[2022-03-23 19:48] mattdangerw commented on #26
Thank you!

re 1) good catch, let's stick to the original paper details when possible.

re 2) also good point, that's my bad. We can drop the max_length argument.

A couple other points from https://github.com/keras-team/keras-nlp/issues/23
 - The learned position embedding layer will be assume the `-2` axis is the sequence axis. We can do the same here for now (and possibly open this as a config

[2022-03-23 19:49] #37 closed

[2022-03-24 20:44] aflah02 commented on #49
Hey @mattdangerw
I think it's working as intended now it would be great if you could have a look at it [here](https://colab.research.google.com/gist/aflah02/3bd4c0d002df308d9afbe32ce1d58890/fixingrank1wordpiece.ipynb)
The changes done are [here](https://github.com/aflah02/keras-nlp/blob/5eef3434f0a266fb84ff58f6d8730a3ed99ee5ab/keras_nlp/tokenizers/word_piece_tokenizer.py#L270-L279)
If this seems t

[2022-03-24 20:49] aflah02 commented on #48
I think we can close this now @mattdangerw

[2022-03-24 20:55] aflah02 opened #60 "Adding debug instructions incase lint.sh/format.sh fail"
I noticed that when I run lint.sh and format.sh and the file is in CRLF mode it fails to run while in LF mode it does. It feel it could be a helpful addition [here](https://github.com/keras-team/keras-nlp/blob/master/CONTRIBUTING.md#formatting-the-code) and might save people some time
If this seems fine I can raise a PR adding a couple of sentences in this regard

[2022-03-24 21:12] chenmoneygithub commented on #48
Thanks for your contribution!

[2022-03-24 21:12] #48 closed

[2022-03-24 21:13] #25 closed

[2022-03-24 21:22] aflah02 commented on #48
Your Welcome!

[2022-03-24 21:57] mattdangerw commented on #49
Looks close! But we can't always just flatten the inputs, we do want to handle batch inputs too. There will need to be some conditioning on the input, so the changes are special cased for. Desired behavior:

 - Rank 0 input (scalar), sequence_length set -> dense rank 1 output, known shape
 - Rank 0 input (scalar), sequence_length not set -> dense rank 1 output, unknown shape
 - Rank 1 input, seque

[2022-03-24 22:09] aflah02 commented on #49
Thanks!, it's more clear now I'll get to work on this

[2022-03-25 18:45] abheesht17 opened #62 "Add Function(s)/Class(es) for Decoding Strategies [Text Generation]"
Not sure if this is worth implementing, but basically, we can have functions/classes, which users can call in order to get decoded text. As far as I know, we have these decoding strategies:

- Greedy Sampling
- Random Sampling
- Top-k Sampling
- Top-p (Nucleus Sampling)
- Beam Search

Users can feed a tensor of size `(bsz, seq_len, vocab_size)` (output of a generation model), and choose a decoding

[2022-03-25 19:16] mattdangerw commented on #60
Sure! Doc update appreciated. Feel free to open a PR.

Do you know where things are failing on CRLF? Would it be possible to just fixup the scripts?

[2022-03-25 19:23] mattdangerw commented on #38
Thanks! Sorry was actually out sick this week :/ so catching up now.

Let's open up separate issues for perplexity, ROUGE, and BLEU, as ideally those are all components we would like. Tracking everything on this issue will get tricky.

I think perplexity is the correct one to start with.

[2022-03-25 19:25] mattdangerw opened #63 "Add a perplexity metric"
Splitting this issue out from https://github.com/keras-team/keras-nlp/issues/38.

We should add a perplexity metrics as `keras_nlp.metrics.Perplexity`.

[2022-03-25 19:28] mattdangerw commented on #63
huggingface resource: https://huggingface.co/docs/transformers/perplexity

@abheesht17's colab: http://go/colabx-drive/1BH1lTw_qLK6671oWaoU15IrUKSQfd6oE

[2022-03-25 19:28] abheesht17 commented on #38
No issues, @mattdangerw! Take care :)

[2022-03-25 19:32] mattdangerw commented on #63
Looking through the colab, I think method 1 would be the correct approach? Over method 2. Perplexity seems to me to be defined on a single input sequence, so averaging over all sequences in the batch (and then all batches), seems reasonable.

I think @chenmoneygithub was going to take a look here too, to tagging for thoughts.

[2022-03-25 19:38] aflah02 commented on #60
Hey!
I'm not quite sure what could be the issue, I did try looking it up online but couldn't find anything conclusive as such :(

[2022-03-25 19:45] abheesht17 commented on #63
Hey, I can't access the notebook link (http://go/colabx-drive/1BH1lTw_qLK6671oWaoU15IrUKSQfd6oE). So, putting the link here again: https://colab.research.google.com/drive/1BH1lTw_qLK6671oWaoU15IrUKSQfd6oE?usp=sharing

[2022-03-25 19:47] mattdangerw commented on #60
Thanks! I would be surprised if any of the underlying tools (black, isort, flake8) did not support windows style line endings, so seems like there might be something we could do here.

[2022-03-25 19:52] mattdangerw opened #65 "Add a BLEU metric"
Splitting this issue out from https://github.com/keras-team/keras-nlp/issues/38.

We should add a BLEU metric as `keras_nlp.metrics.Bleu`.

[2022-03-25 19:53] aflah02 opened #66 "Adding a Random Encoder for Baseline Runs"
NLP Papers often compare against baselines and having a prebuilt random encoder could help with that. A random encoder is similar to a simple encoder with a slight difference here each self-attention sublayer is replaced with two constant random matrices, one applied to the hidden dimension and one applied to the sequence dimension. It is described in the [F-Net Paper](https://arxiv.org/pdf/2105.0

[2022-03-25 19:56] aflah02 commented on #60
Right I was thinking the same, I've added an image the first run is with CRLF while the second one is with LF

<img width="381" alt="image" src="https://user-images.githubusercontent.com/72096386/160192249-77a00e48-926d-4907-a252-bc6848fba1e3.png">

[2022-03-25 19:58] aflah02 commented on #60
I think I just might've realized what's wrong, I think it has to do with how wsl works, so when I open up WSL the editor (vscode) in my case doesn't know that so it retains the CRLF endings while WSL now expects LF endings. I'm not sure how many people might have this issue but this seems to be the core idea

[2022-03-25 20:00] abheesht17 commented on #65
Linking a comment here which explains the difficulty with BLEU:
https://github.com/keras-team/keras-nlp/issues/38#issuecomment-1066586228

For ROUGE Score, I used a `TensorArray`, which has a `write` operation. Maybe, we can use the same here.

[2022-03-25 20:01] aflah02 commented on #66
One of the reasons why it's worth having as a baseline is that it's stable in training unlike BERT and if it's scores are lacking it indicates that a structured mixing is required over any random mixing as described in the paper.

[2022-03-25 21:09] chenmoneygithub commented on #63
Agree method1 looks correct.

One notes about masking: checking `token_id == 0` is not a reliable way to generate mask, because users could customize their mask token id (although I do not know why people do so). The mask should be passed via `sample_weights` argument.

[2022-03-25 21:20] mattdangerw opened #67 "Add ROUGE metrics"
Splitting this issue out from https://github.com/keras-team/keras-nlp/issues/38.

We should add a ROUGE metric as `keras_nlp.metrics.RougeL`, etc.

[2022-03-25 21:23] mattdangerw commented on #67
From @abheesht17

[2022-03-25 21:28] mattdangerw commented on #38
OK issues split out. I think that list of three is probably a good set to work through for now, but once we work through those we can open up issues for further metrics.

Let's focus on perplexity as a first example metric.

[2022-03-25 21:34] abheesht17 commented on #38
Great! Thank you, @mattdangerw!

[2022-03-25 21:37] abheesht17 commented on #63
Ah, nice 👍🏼. I'll make the necessary changes and open a PR.

[2022-03-25 21:58] mattdangerw commented on #60
Thanks. Probably what is happening here is you are cloning with windows git (default clrf line endings), and then running with WSL (where linux style line endings would be assumed). If you re-clone the repo from the git binary inside WSL (or globally reconfigure windows git to force LF line endings before cloning) does that fix the issue?

If that's the case, we should really update your PR to say

[2022-03-26 04:42] aflah02 commented on #60
Hi!
Yup it does!, I'll change the message then as your suggestion would be better

[2022-03-26 04:45] aflah02 commented on #60
I've updated the PR now

[2022-03-26 04:46] aflah02 commented on #39
Hi @mattdangerw
While I'm working on the other issue too are there any updates on how it's planned to incorporate these DA techniques?

[2022-03-26 11:02] abheesht17 commented on #63
Hello, @mattdangerw, @chenmoneygithub! I've made some changes to the class. Please see this notebook: https://colab.research.google.com/drive/1XV1h5aeiy5IlHoQFjDTJ45hRC8wMSf16?usp=sharing.

I've followed this script: https://github.com/huggingface/transformers/blob/main/examples/research_projects/codeparrot/scripts/validation_loss.py#L56-L69.

In the notebook, I've compared our results with HF's r

[2022-03-26 15:17] abheesht17 commented on #67
Hey, @mattdangerw, @chenmoneygithub! If the notebooks look okay to you, should I open a PR?

[2022-03-26 17:35] aflah02 commented on #49
Hey @mattdangerw
I'm facing some difficulty in tracking the rank of the input, for instance in this snippet  -

[code]

[2022-03-26 17:50] arcAman07 commented on #65
If this issue is open, I would want to work on implementing the BLEU metric.

[2022-03-26 18:49] abheesht17 commented on #65
Hello, @arcAman07! I'm currently working on this.

[2022-03-26 18:55] arcAman07 commented on #65
Cool, wasn't aware of it 👍

[2022-03-27 10:13] aflah02 opened #70 "Adding Encoder from TransEvolve"
A recent work present at neurips which can be viewed [here](https://papers.nips.cc/paper/2021/file/2bd388f731f26312bfc0fe30da009595-Paper.pdf) uses temporal evolution scheme which they've named TransEvolve, to bypass costly dot-product attention over multiple stacked layers. Their results after extensive testing have shown that it outperforms the traditional transformer on encoder only tasks and i

[2022-03-27 11:12] aflah02 commented on #70
SideNote: It's time complexity is pseudo quadratic and uses much less parameters than a normal transformer

[2022-03-27 18:46] aflah02 commented on #70
@mattdangerw Any thoughts on this?

[2022-03-27 21:37] chenmoneygithub commented on #70
@aflah02 Thank you for reporting this feature request and willingness to contribute! We will need to discuss a bit on if we want to add TransEvolve now, since it has not gained many citations yet (maybe because it is pretty new). Please stay tuned, thanks again!

[2022-03-27 21:43] chenmoneygithub commented on #66
@aflah02 Thanks for opening this feature request!

My opinion is that for baseline models, we may probably just stick to BERT/GPT-2/3, since it has been well adopted by NLP community. @mattdangerw @fchollet What do you think?

[2022-03-27 21:47] chenmoneygithub commented on #62
@abheesht17 Thanks for opening this feature request!

Yes, autoregressive generation is something we are looking to add. We will need some discussions on which technique we want to support (greedy search is easier to implement, but beam search is better), please stay tuned, thanks!

[2022-03-27 22:12] aflah02 commented on #70
Thanks for the review @chenmoneygithub! Yeah I guess it being pretty new is probably the reason. Looking forward to the result of the discussion 😁

[2022-03-27 22:14] aflah02 commented on #66
@chenmoneygithub Thanks again for the review. Yup I totally agree the models you've mentioned are the ones that more often than not are used as baselines. Let's hear from the others too maybe they have some insights on this!

[2022-03-28 01:24] abheesht17 commented on #62
Awesome! Thanks, @chenmoneygithub!

[2022-03-28 17:46] #40 closed

[2022-03-28 18:14] mattdangerw commented on #70
Agreed with @chenmoneygithub. Let's not add it for now; we want to be pretty focused on really the "greatest hits" nlp papers right now. We can circle back if this becomes more widely used in the future.

[2022-03-28 18:42] #60 closed

[2022-03-28 19:19] mattdangerw commented on #49
dataset.map will not iterate over each individual element, it will iterate over the first dimension of the input. The print statements you are showing look like a rank 1 tensor to me--shape=(4,) rank=1.

I made another colab that shows the rank of the inputs. Try comparing this with your code?
https://colab.sandbox.google.com/gist/mattdangerw/580a52996e527e2d85d8599953f88be5/rank-explanation.ipynb

[2022-03-28 21:50] chenmoneygithub opened #73 "Candidate metric: MAUVE"
**Is your feature request related to a problem? Please describe.**
This idea is from one best paper in NeurIPS 2021: [MAUVE: Measuring the Gap Between Neural Text and Human Text using Divergence Frontiers](https://arxiv.org/abs/2102.01454). Basically it proposes a new metric that measures how close machine generated text is like human text. This metric is specifically useful for open-end text gene

[2022-03-28 23:51] aflah02 commented on #70
Thanks for the feedback!!

[2022-03-28 23:51] #70 closed

[2022-03-29 09:51] abheesht17 opened #76 "Add Pre-commit Hooks"
Random thought:
Currently, we run two bash scripts, `format.sh` and `lint.sh`, for formatting the code, and for linting. While this works for Linux/MacOS users, Windows users can't run it, and have to copy-paste every command separately.

An alternative is [pre-commit hooks](https://pre-commit.com/). Here, we can add hooks for black, isort and flake8 to a `.pre-commit-config.yaml` config file. Thi

[2022-03-29 18:23] abheesht17 opened #77 "Add Longformer Encoder Layer"
Uses global attention + local attention to enable long sequence inputs.

Paper: https://arxiv.org/abs/2004.05150 (750+ citations)

Would love to take this up, if the team is interested in adding it :)

[2022-03-29 23:12] monatis commented on #62
Hi @chenmoneygithub, I can provide implementations for greedy search and beam search if you are interested.

[2022-03-30 01:03] abheesht17 commented on #77
Ah, I see 👍🏼 .

https://github.com/tensorflow/models/blob/master/official/projects/longformer/longformer_encoder_block.py

[2022-03-30 03:16] mattdangerw commented on #39
Yes, we have been discussing this. I've been trying to capture some design requirements we have. Here's what I have so far...

 1) Augmentation functionality should be exposed as layers not utilities.
 2) Layers should take as input raw untokenized string, and output augmented raw untokenized strings.
 3) Layers computations should be representable as a tensorflow graph, but this graph can include

[2022-03-30 03:26] mattdangerw commented on #76
We talked this through as a broader keras group a month or so ago. I think at least right now, we didn't want to add that level of complexity to things, though we are open to do so in the future.

[2022-03-30 03:58] mattdangerw opened #78 "Add a UnicodeCharacterTokenizer"
This would be a simple tokenizer which has no vocabulary, and simply converts text to unicode codepoints.

## Potential docstring and usage

[code]

## Colab demonstrating basic functionality:

https://colab.sandbox.google.com/gist/mattdangerw/9d9dcb8b640d8183a614ddd6f92fe368/unicodecharactertokenizer.ipynb

[2022-03-30 04:02] mattdangerw opened #79 "Add a ByteTokenizer"
This would be a simple tokenizer which has no vocabulary, and simply converts text to raw bytes.

## Potential docstring and usage

[code]

## Colab demonstrating basic functionality:

https://colab.sandbox.google.com/gist/mattdangerw/99e8f3795e37fe539731dcbfc1c09d47/bytetokenizer.ipynb

[2022-03-30 04:04] abheesht17 commented on #79
Hey, @mattdangerw! I'd like to take this up

[2022-03-30 04:05] abheesht17 commented on #76
Ah, okay 👍🏼

[2022-03-30 04:10] abheesht17 commented on #46
Hey, @mattdangerw. Sorry for the delay, forgot about it. I opened an issue on the SentencePiece repository: https://github.com/google/sentencepiece/issues/739. The author of the repo mentions this: "manual model modification/creation is totally unsupported."

However, Looks like we may be able to add tokens from the vocab to the `pieces` attribute. I don't think they have Python wrappers/APIs for

[2022-03-30 04:49] aflah02 commented on #39
Hey @mattdangerw
Thanks for sharing this.
Just to confirm this means that these augmentation layers will always be utilized prior to any operations right? Since they take in and return untokenized inputs? Although I haven't seen any example so far but wouldn't it get tricky if some new work in the future introduced augmenting data during training instead of doing it before which most current works

[2022-03-30 04:54] aflah02 commented on #78
Hey
I can take this up, I'm also working on the other rank issue as well and will probably get that done by the weekend
I need one clarification though in the last example on colab there are invalid codepoints so for those kinds of things should we still parse it? or raise an error of some sort?

[2022-03-30 06:00] aflah02 commented on #39
There is also this for WordNet - https://wordnet.princeton.edu/download/current-version and the format is here - https://wordnet.princeton.edu/documentation/wndb5wn so we can create our own parser and parse it

[2022-03-30 21:40] mattdangerw commented on #39
@aflah02 the augmentations should be applied as operations, but applied before tokenization. A lot of discussion we've had was around 3) above. The layer transformations need to be expressible as a graph of tensorflow ops to work with tf.data. But we believe that doing transformations with purely `tf.strings` operations would be too restrictive, so using `tf.numpy_function` will allow writing pure

[2022-03-30 22:10] mattdangerw commented on #76
I will close this for now just for issue cleanliness, as we have no current plans to do this. But we could definitely re-open in the future if we decide we want this workflow across the keras ecosystem.

[2022-03-30 22:10] #76 closed

[2022-03-30 23:00] #26 closed

[2022-03-31 05:02] aflah02 commented on #39
Thanks!
Should I now get started with some basic ones which are easy to implement such as EDA following the above scheme?

[2022-03-31 17:24] aflah02 commented on #78
Hey @mattdangerw
If the input is something like `["a b c", "b c", "a b", "b a"]` is the expected output like this -
[code]
or the whitespace character shouldn't appear?

The code sample I ran to print this output is:

[code]

[2022-03-31 17:35] mattdangerw commented on #78
@aflah02 we should definitely preserve whitespace here! The codepoint for the space character should be included, which will make this fully reversible.

Users could strip whitespace before this layer if they want, but in general I would think character based models will want to include whitespace in the model input.

[2022-03-31 18:15] aflah02 commented on #78
Thanks for the clarification!

[2022-03-31 18:23] aflah02 commented on #78
I think it's worth keeping an input_encoding and output_encoding parameter as well which we can default to "UTF-8" but optionally can take in either of "UTF-8", "UTF-16-BE", or "UTF-32-BE"

[2022-03-31 18:27] abheesht17 commented on #79
Do we also have to define the `get_vocabulary()`, `vocabulary_size()`, `id_to_token()` and `token_to_id()` functions?

Of course, the vocabulary will just be a list of 256 characters. And vocabulary size will be 256. And `id_to_token()` is simply `tf.constant([i.tobytes() for i in np.arange(256, dtype=np.uint8)])`. So, do we want these functions?

[2022-03-31 21:26] mattdangerw commented on #78
Yeah, accepting other encodings would be fine, though I don't think it's a requirement for the initial version.

In that case, maybe rename the `normalization_form` arg to `utf8_normalization_form` and throw an error if that arg is set and the encoding != utf8.

[2022-03-31 21:31] mattdangerw commented on #79
Re: replacement char, makes sense to have that arg.

Re: vocabulary_size, let's add that, returning 256. It will be helpful for code examples. I am less convinced token_to_id and id_to_token make sense, let's hold off there.

Re: raw bytes instead of ints of some form, what is the use case? I'm not sure that we need it.

[2022-04-01 00:59] mattdangerw opened #81 "Generate documentation for keras-nlp"
We need to generate symbol documentation and host them keras.io (and tensorflow.org?).

[2022-04-01 01:00] mattdangerw commented on #81
Assigning myself as a placeholder; this will need to be done by someone on the keras team.

[2022-04-01 01:05] mattdangerw opened #82 "Add docstring testing for API code examples"
We need to add docstring testing for our API code blocks.

A couple decisions we should make here:
 - Do we want to do fenced examples (triple backticks), >>> style, or both?
 - Do we want to share common code for this with core keras? Or keep standalone code based on [doctest](https://docs.python.org/3/library/doctest.html)?

[2022-04-01 01:05] mattdangerw commented on #82
Assigning myself as a placeholder; this will need to be done by someone on the keras team.

[2022-04-01 01:21] mattdangerw opened #83 "Add an initial integration test using model.fit"
We should add an integration test, running some actual limited training job for TransformerEncoder/TransformerDecoder, and possibly also using a tokenizer and position embedding.

[2022-04-01 01:22] mattdangerw commented on #83
There's a lot more we could do here (e.g. tf.distribute testing), but a simple CPU integration test is probably a good start.

@chenmoneygithub assigning you as I think you were already scoping this out?

[2022-04-01 01:27] mattdangerw opened #84 "Add a proper learning rate schedule to the BERT example"
We should add learning rate schedule matching the [original BERT implementation](https://github.com/google-research/bert/blob/master/optimization.py#L32) to our BERT example in `/examples/bert`.

[2022-04-01 01:27] mattdangerw commented on #84
https://keras.io/api/callbacks/learning_rate_scheduler/

[2022-04-01 01:40] mattdangerw commented on #39
@aflah02 yeah, I would say maybe rather than EDA maybe we should start with designing a layer for synonym replacement?

It's a strict subset of EDA as a whole, we would want it as a standalone layer, and will start answering a lot of the questions we have.

[2022-04-01 03:02] #77 closed

[2022-04-01 03:17] abheesht17 commented on #79
Thanks! Noted, will make changes in the PR :)

[2022-04-01 03:27] aflah02 commented on #39
That sounds good. I'll also get to parsing the WordNet data as well and also try out the data in the GitHub release that I had shared

[2022-04-01 05:05] Stealth-py commented on #84
Hey @mattdangerw! I'd like to work on this issue.

[2022-04-01 09:46] Stealth-py commented on #84
Hey @mattdangerw! I just wanted to confirm a couple of things which I'll be doing:
- The file where the issue is focused is `/examples/bert/run_pretraining.py`.
- Adding a `scheduler` function as referenced [here](https://keras.io/api/callbacks/learning_rate_scheduler/) and then use the same to update the `learning_rate` like so: `learning_rate_schedule = scheduler(epoch = FLAGS.epochs, lr = FLAGS

[2022-04-01 20:52] mattdangerw commented on #84
Thanks for contributing!

Yes this should be changing `/examples/bert/run_pretraining.py`

Re scheduler, sorry I linked the wrong resource there. We need to set the learning rate depending on the number of train steps, not epochs, so we should use the following:
https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/schedules/LearningRateSchedule

I believe we want a linear ramp up during

[2022-04-01 22:09] Stealth-py commented on #84
Thank you for the review!

I think I understand, so currently I'm thinking of implementing the scheduler by increasing the learning rate with a factor of `initial_learning_rate/(current_step + 1)`, and for decaying, would a factor shallower than the increasing factor be fine, till an `end_learning rate` of let's say `0.0001`?

[2022-04-03 01:50] aflah02 commented on #78
Hey @mattdangerw
When we pad the input sequence should the element used to pad by be customizable? As during detokenization it will become a part of the string

[2022-04-04 21:51] Stealth-py commented on #84
Hey @mattdangerw, I made some changes post my previous comment. So, now the factors being used are `initial_learning_rate/1e3` to increase the learning rate till `10,000 steps` and `initial_learning_rate/1e4` to decrease the learning rate after reaching the threshold of `10,000 steps`.

[2022-04-04 23:29] mattdangerw commented on #23
Fixed in https://github.com/keras-team/keras-nlp/pull/47

[2022-04-04 23:29] #23 closed

[2022-04-04 23:37] mattdangerw opened #85 "Add a token and position embedding layer"
For simplicity of our examples, we should add a layer that combines `keras.layers.Embedding` and `keras_nlp.layers.PositionEmbedding` into a single offering. Initial take for an API signature...

[code]

Internally, this will combine the layers as follows...

[code]

[2022-04-04 23:39] mattdangerw commented on #85
Note that we will do this only for the learned positional embedding (not the sinusoidal encoding). We believe that the learned embedding will be the most common usage for adding position info, so it's the only one we will provide the extra "glue" layer for.

[2022-04-05 04:30] adhadse commented on #85
Can I try to work on this issue? Please assign me.

[2022-04-05 05:50] mattdangerw commented on #85
Please do. Thanks!

[2022-04-05 09:49] abheesht17 opened #87 "[Query] Implementing Models"
Is the KerasNLP team also looking to implement entire models or are we restricting ourselves to building blocks?

For example, if we take FNet, we currently have its encoder block in KerasNLP. So, will we stack these encoder blocks and implement the entire FNet model in `keras_nlp.models`, and at the same time, will we upload pretrained models weights to TFHub? Or will we leave that to the main Te

[2022-04-05 15:50] mattdangerw commented on #78
I think we can just assume a value of 0 to pad for now. And strip 0 values during `detokenize`. I made a comment about this on https://github.com/keras-team/keras-nlp/pull/80. The line `tf.ragged.boolean_mask(inputs, inputs != 0)` might be useful.

Overall, I would encourage being conservative in what we offer in this initial version--it's easier to add more functionality down the road then remove

[2022-04-05 15:54] mattdangerw commented on #87
This is actively under discussion. We definitely do want a way to use our components here in pretrained models, but that may not be done in this repo. So for now at least, the correct mental model for keras-nlp is a library of components, not models.

We will definitely be giving more guidance here going forward.

[2022-04-05 16:04] abheesht17 commented on #87
Nice!

Also, can I get my GSoC application pre-reviewed by the KerasNLP team before submission on the portal?

[2022-04-05 22:00] mattdangerw commented on #84
From my reading of that code, given an input `learning_rate` parameter... It looks like the learning rate should increase linearly from 0 to `learning_rate` over the first 10000 steps, and then decay linearly from `learning_rate` back to zero over the rest of training.

For the decay part, that would be tricky to do with the way we are currently specifying train time (in epochs). So we should prob

[2022-04-05 22:18] chenmoneygithub commented on #87
@abheesht17 Sorry we won't provide any feedback on GSoC proposals at this time.

[2022-04-06 01:22] #87 closed

[2022-04-06 02:59] aflah02 commented on #78
Makes sense, I'll get this done quickly

[2022-04-06 21:02] Stealth-py commented on #84
Hey, yeah I think I kind of get it. From what I understand, I have a few doubts and a few things I would like to confirm:
1. Should I remove the `epochs` flag itself, or should I just replace the argument from `model.fit` or will `model.fit_generator` be better as shown [here](https://github.com/keras-team/keras/issues/7506#issuecomment-322050382)? What values do I use for `num_train_steps` or `st

[2022-04-07 03:37] adhadse commented on #81
Do the keras-team have any plan/tool in mind to generate documentation?

[2022-04-07 12:53] innat opened #93 "Integrated gradients for nlp models. (Explainable AI)"
**Describe feature**
The  [Integrated Gradients](https://www.tensorflow.org/tutorials/interpretability/integrated_gradients) (IG) can be a great tool to understand the neural network.

**How API will change?**
It would enhance as follows:

[code]

**Candidate Solution**
- [ALIBI-Explain](https://docs.seldon.io/projects/alibi/en/latest/examples/integrated_gradients_imdb.html): It's a toolbox that p

[2022-04-07 16:24] mattdangerw commented on #93
Definitely, it would be great to start adding explainability tools here! I was actually just wishing we had precisely this while working on a guide for keras-nlp.

Would you be interested in contributing?

Also, trying to understand the design proposed more...
 - IG is it's own non-layer class?
 - What assumptions are being made about the model parameter passed in? If any.

[2022-04-07 16:47] abheesht17 commented on #67
@mattdangerw, could you please help me with the optimisation process?

These are the two notebooks:
ROUGE-N Notebook: https://colab.research.google.com/drive/1wiNN5KZaClr7qufAu3vzZtx6YECqsTrX?usp=sharing
ROUGE-L Notebook: https://colab.research.google.com/drive/1xchVi4DsG_2gfi8FmO-g9GZS6-7CIFnz?usp=sharing

The time taken for training per epochs blows up from seconds to hours with the current impl

[2022-04-07 17:11] aflah02 opened #94 "Synonym Replacement Layer - Data Augmentation"
Since issue #39 is very broad I've created this to specifically discuss the Synonym Replacement Layer

- [ ] Parse WordNet
- [ ] Work On Integrating With KerasNLP

So far I've made a rough parse [here](https://github.com/aflah02/WordNet-Parser) I'll hopefully finalize it in a day or two post which we can have a look at the performance and implementation specifics.

I'll post all relevant updates h

[2022-04-07 17:25] abheesht17 opened #95 "Adversarial Attacks and Testing the Robustness of Models"
Branching off from the issue which @aflah02 opened a few weeks ago, https://github.com/keras-team/keras-nlp/issues/39:

Is the KerasNLP team interested in implementing adversarial attacks? We could start off with simple attacks on classification models.

I understand if this is a bit broad, and the team may want to integrate it later to the repository, especially because we may need some augmentat

[2022-04-07 17:59] #79 closed

[2022-04-07 18:01] mattdangerw commented on #94
@aflah02 thanks! And yes +1 to opening issues for specific layers like this, rather than the "catch all" issues.

[2022-04-07 18:03] mattdangerw commented on #67
Will do! I'll be out tomorrow, so this will probably need to be next week, but I will try to carve some time this then.

[2022-04-07 18:06] abheesht17 commented on #67
Sure, take your time :)

[2022-04-07 18:07] abheesht17 commented on #79
Thank you for all the help, @mattdangerw! :D

[2022-04-07 20:20] #49 closed

[2022-04-07 20:39] mattdangerw commented on #81
For sure we would symbol documentation and guides on keras.io, and possibly in the future on tensorflow.org as well.

So we will use the tooling for documentation generation for [keras-io](https://github.com/keras-team/keras-io), but if you have ideas on how we could improve there you could definitely open an issue on that repo.

[2022-04-07 20:53] mattdangerw commented on #84
1. Yeah, good point. Calculating `steps_per_epoch` from the `epochs` flag and `num_train_steps` is probably a good way to do this.
3. Yeah, that looks like a great reference point.

[2022-04-07 21:35] Stealth-py commented on #84
Alright, thanks for the review!
I'll wrap this up ASAP, and open a PR in a bit :D

[2022-04-07 22:46] mattdangerw commented on #87
@abheesht17 wanted to add more here re-GSOC. If you have a proposal in a google doc or somewhere sharable, you could send that to us a keras-nlp@google.com, that's a good way to flag the whole group. I can't guarantee we will have time/bandwidth for feedback though! In general, contributing here is probably the best way to show fit.

As for news, we won't even know how many applications we have un

[2022-04-07 23:51] adhadse commented on #27
Is this TensorFlow text operation [deprecated](https://www.tensorflow.org/text/api_docs/python/text/sentence_fragments)?

[2022-04-08 02:39] abheesht17 commented on #87
Great, thank you, @mattdangerw! :)

[2022-04-08 03:00] abheesht17 opened #98 "Add the gMLP Encoder Block"
The gMLP model is from the paper "[Pay Attention to MLPs](https://arxiv.org/abs/2105.08050)". It has a decent number of citations - around 40. Every Encoder Block merely consists of linear layers, a "spatial gating unit", etc. Will be a good addition to the library, considering the research world is trying to find alternatives for self-attention, and because despite the simplicity of this model, i

[2022-04-08 03:07] abheesht17 opened #99 "Rename the Classes in `keras_nlp/layers` to "EncoderBlock"?"
In `keras_nlp/layers`, we have classes like `TransformerEncoder`, `TransformerDecoder`, `FNetEncoder`. Should we rename these to `TransformerEncoderBlock`, `TransformerDecoderBlock` and `FNetEncoderBlock`, respectively?

TensorFlow Reference: https://github.com/tensorflow/models/tree/master/official/projects/longformer
Here, the `LongformerEncoder` is a stack of `LongformerEncoderBlock`s. This is

[2022-04-08 17:03] aflah02 opened #101 "Implementing a Tweet Tokenizer"
Tweets are an vital data source in most NLP tasks especially those revolving around Social Media Analysis and hence Tweet Tokenizers already exist in libraries such as NLTK.
The difference in NLTK's Tweet Tokenizer's behavior from a normal tokenizer is illustrated [here](https://stackoverflow.com/a/61947145/13858953)
I think this can be a great to our current set of tokenizers

[2022-04-08 18:10] Stealth-py commented on #11
Hey @mattdangerw! I wanted to ask if the keras team is still interested in implementing a preprocessing layer for models such as the `skipgram model`.

[2022-04-08 18:14] aflah02 commented on #94
@mattdangerw
There are some design decision I need to make for the parse and would like to get your opinion on those -

- Since Wordnet doesn't have some attribute which directly says that X is a synonym of Y I manually looked up the docs and found these ([listed here](https://github.com/aflah02/WordNet-Parser/blob/master/README.md)) to be a reasonable fit for synonym set but I'm still open to any

[2022-04-08 18:40] bhack commented on #11
/cc @seanpmorgan @yarri-oss

[2022-04-08 20:13] chenmoneygithub commented on #99
Thanks for reporting the issue!

We had this discussion before, and we decided to omit the block/layer suffix to keep it simple.

[2022-04-08 20:13] #99 closed

[2022-04-08 20:38] Abdelrahmanrezk opened #102 "Arabic Tokenizer"
The tokenization structure is different from languages like English or other languages that start from left to right, and those language like Arabic and langues that start from right to left. Addeding new APIs that can work with Arabic language and those who start from right to left can add a lot to kerasNLP and spread it out for supporting Arabic language as Arabic is the
fifth most spoken langua

[2022-04-08 23:48] Stealth-py commented on #19
Hey! Is this issue still open?

[2022-04-09 10:01] adhadse opened #104 "`shell/lint.sh` fails with exit code 1 without giving proper error"
**Describe the bug**
I think the bug has to do with improper exclusion of `venv` folder by both `shell/format.sh` and `shell/lint.sh`, since on running `format.sh` the script starts formatting code install in virtual environment installed packages, i.e., in `venv` folder. If terminal session is closed before this process, then leads to `lint.sh` failing to pass as it includes `venv` directory "unf

[2022-04-09 22:48] chenmoneygithub commented on #98
@abheesht17 Thanks for opening this feature request!

The idea of the paper is definitely interesting! But at this moment I am not convinced that gMLP can be a good replacement to transformer. It claims that less parameters would be required, but we can also control the number of encoders or their SGUs? We will have more discussions over this next week, and you could also add this to your GSoC pro

[2022-04-10 02:46] abheesht17 commented on #98
Awesome! Thanks, @chenmoneygithub. Will add it to the doc :)

[2022-04-10 09:03] Stealth-py opened #106 "Adding an example to use a ByteLevelTokenizer instead of implementing a language specific tokenizer"
Instead of implementing language specific tokenizers, we can try to look at more robust way of dealing with such problems.
We can maybe look at a more robust way, like using a ByteTokenizer instead of creating different tokenizers, and for this purpose we can try to implement an example of how we can use a ByteTokenizer for different language(s), just like how HuggingFace does it in their [blog wh

[2022-04-11 19:23] mattdangerw commented on #104
A fix here makes sense, though I think we may want to whitelist the directories to format, rather than blacklist other directories. Thanks!

[2022-04-11 21:46] #84 closed

[2022-04-11 21:48] mattdangerw commented on #27
The ops we would be using are here https://www.tensorflow.org/text/api_docs/python/text/SentencepieceTokenizer (not deprecated).

[2022-04-11 21:49] mattdangerw commented on #102
Yeah, we have an issue open for a sentence piece tokenizer https://github.com/keras-team/keras-nlp/issues/27. I will get to that in the next week or two hopefully!

Re https://farasa.qcri.org/ we could definitely support other approaches, but the trick is we would like tensorflow op level support for our tokenizers (see https://www.tensorflow.org/text/).

Are there key features that sentencepiece

[2022-04-11 21:56] mattdangerw commented on #101
I think we have support for this already.

For word level tokenization `keras.layers.TextVectorization` allows custom callables for `standardize` and `split` (which could allows keeping `#`). For subword tokenizers (wordpiece, sentencepiece), punctuation like that will be kept by default I believe.

An open question for me is whether we will at some point want to offer `keras.layers.TextVectorizat

[2022-04-11 21:56] #101 closed

[2022-04-11 22:05] chenmoneygithub commented on #95
@abheesht17 Thanks for opening this feature request!

Yes, having an adversarial attack system would be nice for model evaluation. Our current problem is that we do not have pretrained model available. When you start working on this, would you mind sharing a colab so that we can do some early reviews on the interface? Thanks!

[2022-04-11 22:14] Stealth-py opened #107 "Adding the ELECTRA Model"
While looking around, I found [this paper on the ELECTRA model](https://arxiv.org/abs/2003.10555), it shows that replacing MLM with RTD gave them better GLUE scores than BERT. Might be worth taking note of/adding it here. We can also look at some other models like this as some future additions, I think.
Would love to know your views on this!

[2022-04-11 22:23] Stealth-py commented on #107
This also takes into account the matter that we are to integrate parts from the Tensorflow Model Garden as mentioned in #77, so I thought it might be worth noting.

[2022-04-11 22:44] chenmoneygithub commented on #107
@Stealth-py Thanks for opening this feature request!

ELECTRA's proposed training flow is pretty interesting and promising, however I have a question - what components do we want to deliver here rather than the pretrained model?

[2022-04-11 22:47] chenmoneygithub commented on #62
@monatis Sorry, somehow I missed your message...

We are actively working on determining the input/output format and in which form text decoding is supported. Once we are ready, we will open up issues for contribution with a high-level guidance. Thanks for being willing to contribute!

[2022-04-11 22:51] chenmoneygithub opened #108 "Text generation - Greedy approach"
Briefly, the “greedy” approach is that we always find the next token that has the maximum predicted probability given the current sequence. This [article](https://huggingface.co/blog/how-to-generate#greedy-search) has a detailed explanation on how the greedy approach works.

Before implementation, we will need to make a contract on our input/output format, and if we want it to be a standalone util

[2022-04-12 02:15] mattdangerw opened #109 "Add ragged support to SinePositionEncoding"
We should add support for ragged inputs to the `SinePositionEncoding` layer.

Our `PositionEmbedding` layer shows a rough example of how this can be done on [this line](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/position_embedding.py#L93)

[2022-04-12 03:34] abheesht17 commented on #95
Sure, @chenmoneygithub! Will do. Waiting for some augmentation methods to be implemented before starting adversarial attacks.

[2022-04-12 03:40] abheesht17 commented on #109
@mattdangerw, I'd like to take this up. Thanks!

[2022-04-12 03:42] abheesht17 commented on #104
@adhadse, I'm curious here. I'm also using Windows, and I've been copy-pasting the commands (black, flake8, isort) from the shell script to the terminal in order to run them. How did you run the bash script on Windows without WSL? Is there some tool which you used?

[2022-04-12 04:31] abheesht17 commented on #107
Weighing in on this, I think ELECTRA's architecture is pretty much the same as BERT. This is what is said in the paper:
"Our model architecture and most hyperparameters are the same as BERT’s."

So, I think the `TransformerEncoder` is sufficient. Correct me if I'm wrong.

 We can maybe have a layer for the pretraining task - replaced token detection (like how we have a layer for dynamically genera

[2022-04-12 05:25] chenmoneygithub commented on #67
@abheesht17 I checked out your implementation, and the bottleneck is at your nested for-loop.

For example, when you are extracting the n-gram, you are iterating over batch dim and then sequence dim to find candidate n-grams, then you use another for-loop to check if the n-gram is a duplication. The check can be done using a hashset.

If you want to know exactly how the execution time is broken do

[2022-04-12 05:39] abheesht17 commented on #67
Hey. @chenmoneygithub! Yeah, that is the major issue, which I've pointed out here: https://github.com/keras-team/keras-nlp/issues/67#issuecomment-1079714052 and here: https://github.com/keras-team/keras-nlp/pull/69#issue-1182398730.

But if I use a hashset, won't it break graph ops?

[2022-04-12 05:55] Stealth-py commented on #107
@chenmoneygithub
Rather than the pretrained model, we can do something like what @abheesht17 proposed above, i.e., adding an encoder layer for RTD. We can also add an example for the same, like we do for BERT.

[2022-04-12 06:17] howl-anderson commented on #19
Yes, I'm still working on it. My city is on lockdown for more than one month because of COVID-19. It makes me have less time for this job. I'm sorry for the slow process. I will work hard for this, hopefully, send a PR within two weeks.

[2022-04-12 17:51] chenmoneygithub commented on #67
We have to try it out, I do not know if hash set is allowed in graph execution. But there seems to be a tensorflow specific set: https://www.tensorflow.org/api_docs/python/tf/sets Maybe try this?

[2022-04-12 21:35] Stealth-py commented on #19
Ah, alright. Stay safe!

[2022-04-12 21:39] chenmoneygithub commented on #107
IIUC, the layer is a classification head? Are there special operations inside the layer?

[2022-04-12 22:24] haifeng-jin opened #110 "RaggedTensor support for TokenAndPositionEmbedding"
We may need RaggedTensor support for TokenAndPositionEmbedding in the future.
**It doesn't need to be in this PR though.**

I marked a place that the TF op needs ragged support. (which is also the only place)

The new logic of the "+" if support ragged would be as follows.
[code]

I will be talking to the TF team to see how we will support it.

_Originally posted by @haifeng-jin in https://github.

[2022-04-12 23:34] haifeng-jin commented on #110
The layer already supports ragged tensor.

[2022-04-12 23:34] #110 closed

[2022-04-12 23:58] mattdangerw commented on #109
Sure thing! Though for small issues like these, try to leave some of these available for newcomers to the project as well. Thanks!

[2022-04-13 01:16] #63 closed

[2022-04-13 01:38] mattdangerw commented on #67
Some thoughts...

 - TF Text actually has a rouge_l op implementation. https://www.tensorflow.org/text/api_docs/python/text/metrics/rouge_l Have you tried it? The longest common sequence is probably the hardest thing to recreate in a tf op, so this might unblock us.
 - For the rouge-n, it does seems like we might be able to play around with some ops in tensorflow to see if we can get what we need.

[2022-04-13 01:46] abheesht17 commented on #67
Sure. Thanks a ton, @mattdangerw. I'll try these things out.

[2022-04-13 01:51] mattdangerw commented on #107
I think an `examples/electra` directory is something we would love to have at some point! It is probably still a little early for us...

The main issue here is we would like to improve our BERT example a bit, and have it set the standard for example code for training these larger models from scratch. We'd like to clean that up a little bit, include some directions for kicking off training jobs on

[2022-04-13 06:48] aflah02 commented on #94
@mattdangerw Sorry for the delay, now it's ready [here](https://github.com/aflah02/WordNet-Parser) and I think it's suitable for our task now as we can extract synonyms easily. Do let me know if I'm missing something. I didn't focus on pos tags much as at the end of the day we'll only need the synonyms to choose randomly from and the literature on synonym replacement also doesn't seem to be using

[2022-04-13 17:15] aflah02 opened #111 "BIO/IOB Tagging Text and Vice-a-Versa"
Are there any plans to add a BIO Tagging Layer to KerasNLP?
This layer could take sentences and relevant spans as input and output their BIO representations. BIO Tags are used extensively in Span Recognition Tasks and are present in [literature](https://arxiv.org/pdf/1909.07755.pdf) as well. Some libraries also offer this functionality such as [AllenNLP](https://docs.allennlp.org/main/api/data/dat

[2022-04-13 19:55] chenmoneygithub commented on #111
@aflah02 Thanks for reporting this feature request!

I would like to understand this better, so you are proposing to add one preprocessing layer that constructs the BIO representations, which can be taken in by downstream models? It seems to me that the tagging process is a manual work, so what will your layer look like?

[2022-04-13 20:01] aflah02 commented on #111
@chenmoneygithub
Yup that's exactly what I'm proposing. So basically in my experience with annotating span based data the annotators aren't expected to tag a sentence as BIO directly rather they might annotate it as follows -

Essentially listing the spans.

Now the task is to generate the BIO tags from this data or do the opposite, you have the BIO tags and the original sentence but you need the

[2022-04-13 20:04] aflah02 commented on #111
In hindsight it can be something else and not necessarily a layer like maybe part of a set of helper functions which we might offer and develop over time

[2022-04-13 21:07] Stealth-py commented on #107
@chenmoneygithub, I'm not sure but I suppose it is a classification head, and I don't suppose there would be any special operations to be conducted as such.

@mattdangerw, yeah makes sense. It would be a bit distracting if we worked on different architectures right now, that's true. I'll look around how we can enhance the current BERT implementation, and if we are to do some examples, though I sup

[2022-04-13 21:52] chenmoneygithub commented on #111
Thanks! How would the BIO get used in the downstream model? Is it the prediction target? Also curious - is BIO always at character level?

[2022-04-13 22:22] aflah02 commented on #111
@chenmoneygithub
One use case for BIO tags is in Named Entity Recognition Models. So the use case is basically a sequence-to-sequence learning setting where each token is tagged according to the BIO Scheme and then for unseen samples it's predicted whether each token is B, I or O. I think these are token level and not character level so for example:

So at each training run the model will get the

[2022-04-14 10:24] adhadse opened #112 "`SetuptoolsDeprecationWarning`: `setup.py` install is deprecated. Use build and pip and other standards-based tools."
**Describe the bug**
Not necessarily a bug, but a deprecation warning faced while running `py setup.py develop`. We need to move away from `setup.py` to pip. Needs more discussion.

**To Reproduce**
Just run the procedures given in [setup guide](https://github.com/keras-team/keras-nlp/blob/master/CONTRIBUTING.md#setup-environment)

**Expected behavior**
Install without any deprecation warning.

**

[2022-04-14 10:42] adhadse commented on #104
@abheesht17 No I don't think so. Currently I am on Windows 11, and bash scripts do run as you said by just copy pasting the commands. I have experienced no problem in running them. I do known of WSL, but no I am not using WSL.

Second I am defaulting to PowerShell as my default command line, instead of standard command prompt. Maybe that make the difference.

Sorry for the late response.😅

[2022-04-14 11:04] abheesht17 commented on #104
No issues, man :).

Currently, in Windows, we have to paste every line from the script to the terminal...so, I was wondering if there was a way which you were using to run it in one go (`sh bash_script.sh`, similar to Linux) instead of having to copy-paste.

[2022-04-14 11:24] adhadse commented on #104
I just run it without any `sh` in the beginning, so like this in PowerShell,

``
shell/lint.sh
[code]

[2022-04-14 11:25] abheesht17 commented on #104
Thanks, man! Will try it out!

[2022-04-14 18:54] mattdangerw commented on #112
Thanks for this!

Would just doing `pip install -e ".[tests]"` work?

Definitely feel free to test out solutions and add a PR for our contributing guide.

[2022-04-14 19:25] mattdangerw commented on #107
Sounds good. Yeah really an open question to me if we think there could be a good https://keras.io/examples/ sized demonstration of a simplified ELECTRA model.

If we think so, that work could start today. That would probably need to be a small amount of training data, but still show the generator/discriminator setup for the pre-training task.

[2022-04-14 20:07] chenmoneygithub commented on #111
Thanks! I think we want this tool, one more question - what does a dataset for NER tasks look like? Does it always come with sentence and spans, but missing BIO tags? I am trying to understand how this tool wiil fit in the e2e workflow.

[2022-04-14 20:28] aflah02 commented on #111
@chenmoneygithub
Oh that's nice!
So basically I don't think I can speak in general however in my experience with working with annotators and annotating data myself the sentence and spans are present. After that the BIO Tags are precomputed and then used in the model so not directly in the process itself but I think that's primarily because there are no tools that do it as part of the workflow such

[2022-04-14 20:52] mattdangerw opened #113 "Add a utility to detokenize as lists of python strings"
Going from tf.Tensor strings back to python string is confusing. We should add a utility to do that to the base tokenizer class.

We can discuss the exact name of the PR, suggest `.detokenize_to_strings()` as a starting point.

Usages:
[code]

[2022-04-14 20:53] mattdangerw commented on #113
@aflah02 can you comment anything on this issue? I can't assign you until you are a participant :)

[2022-04-14 20:55] mattdangerw commented on #113
I think the flow for this utility will need to be something like...

For ragged tensors, call `x.to_list()`. For dense tensors, call `x.numpy().tolist()`. Then recursively walk all elements and convert byte strings to python strings.

[2022-04-14 20:58] aflah02 commented on #113
Thanks for creating this, I'll get to work on this!

[2022-04-14 21:03] aflah02 commented on #111
As a side note with the advent of better annotating tools such as [Prodigy](https://prodi.gy/) this is often handled by the tool itself but i still think there would be labs using Google Sheets to do the same (p.s. I was told to xD and only later found the existence of these tools)

[2022-04-14 21:19] mattdangerw opened #114 "Use KerasTuner to hyper-parameter search for the BERT finetuning script"
From the [BERT paper](https://arxiv.org/pdf/1810.04805.pdf)...

[code]

We should allow our [BERT finetuning script](https://github.com/keras-team/keras-nlp/blob/master/examples/bert/run_glue_finetuning.py) to do this search automatically. [KerasTuner](https://keras.io/keras_tuner/) is a good fit for this.

Steps:
 - [ ] Add an setup.py `examples` dependency on keras-tuner.
 - [ ] Remove epochs, b

[2022-04-14 21:28] Stealth-py commented on #114
Hey @mattdangerw! I'd like to take this up.

[2022-04-14 21:30] mattdangerw commented on #114
@Stealth-py perfect! Was about to ask based on conversation on https://github.com/keras-team/keras-nlp/issues/107

[2022-04-14 21:32] mattdangerw opened #115 "Allow preparing a GLUE submission from BERT finetuning script"
To actually run a GLUE submission (including tasks with private labels), we need to output a number of .tsv files per GLUE task. See the first item here: https://gluebenchmark.com/faq

We should allow our [BERT finetuning script](https://github.com/keras-team/keras-nlp/blob/master/examples/bert/run_glue_finetuning.py) to do this file writing for us. We should add an output argument for a predictio

[2022-04-14 21:33] mattdangerw commented on #115
@Stealth-py would you like to take a look at this too? It might make sense to work on in tandem with https://github.com/keras-team/keras-nlp/issues/114

[2022-04-14 21:37] Stealth-py commented on #115
Yeah, I can work on this!

[2022-04-14 21:42] mattdangerw commented on #115
@Stealth-py thanks!

[2022-04-14 22:40] aflah02 commented on #113
@mattdangerw I think I've got it down roughly
You can see the demo [here](https://colab.research.google.com/gist/aflah02/df745134ff33053334653e7d8992108b/detokenizing.ipynb)
The only change was to add a method in the Base Class which is implemented there itself and used by all Classes which Inherit From it Right? Here's the code for the [same](https://github.com/aflah02/keras-nlp/blob/b98837ef4a1d

[2022-04-14 23:11] mattdangerw commented on #113
That looks good!

Yeah, we should only need to add this to the base class. I'm still not 100% sure about the name, but let's make a PR and we can discuss there.

Things to test:
 - ragged ouputs
 - dense outputs
 - scalar dense outputs (outputting a single string)

We should have a unit test for each of those cases.

[2022-04-15 11:48] aflah02 commented on #94
@mattdangerw Any reviews for this? If this looks fine I can get started with the layer

[2022-04-15 18:36] chenmoneygithub commented on #111
Thanks for the detailed explanation!

Could you write a colab to showcase how this layer would be used in an e2e flow? Since this is not a planned feature by KerasNLP team, we need to first settle down the use case and determine the API interface.

[2022-04-15 20:07] aflah02 commented on #111
@chenmoneygithub You're Welcome!
Sure I'll share a colab for the same

[2022-04-15 20:57] chenmoneygithub opened #120 "Add an example to MLMMaskGenerator's docstring to show the best practice"
[MLMMaskGenerator](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/preprocessing/mlm_mask_generator.py) is a helpful tool to generate masks for input sequences. The current docstring only has two basic examples, and it would be better for users if we can provide an example of how it should be used in a real MLM workflow.

Basically the example will have:
1. Prepare data, we ca

[2022-04-15 21:11] mattdangerw commented on #111
I haven't had time to read this paper yet, but open question for me...

Do we need the ability to map from "token index spans" to "source text spans" and vice versa? E.g if a model predicts a span of interest from token 5 to token 10, do we need to say that maps to the characters "hello there" in some input text?

If so there might be a bit of basic infrastructure we need to build out first for ou

[2022-04-15 21:17] aflah02 commented on #111
@mattdangerw I think we might need that but I'm not totally sure as a lot of this (I feel) is subjective to how the data is being formatted, I've also gotten some second thoughts when implementing the colab so I'll try to answer them as I built it. Sadly I've also only had limited experience with NER tasks :(

[2022-04-15 23:51] Stealth-py commented on #114
Hey @mattdangerw, so my current progress is:
* For step 1: I've added it to the `examples` requirement list under the `extras_require` requirements.
* For step 3: The main problem right now is that, I can't test the actual model in `run_glue_finetuning.py`.
And, I've been poking around the [keras-tuner example](https://keras.io/guides/keras_tuner/getting_started) and tried to implement the model u

[2022-04-16 00:32] #82 closed

[2022-04-16 00:46] chenmoneygithub commented on #111
@aflah02 For this tagging layer, I think we can assume that we have spans at token levels. Even if the dataset comes with span on original sentence level, the tokenizer and some helper functions would help produce spans at token levels. In short, handling the relationship between tokens and original characters/words is outside the scope of this tagging layer, which however is very important to the

[2022-04-16 01:49] #78 closed

[2022-04-16 02:18] #85 closed

[2022-04-16 04:34] adhadse commented on #120
I would like to take this issue. Please assignee me!

[2022-04-16 04:48] chenmoneygithub commented on #120
Awesome, thanks!

[2022-04-16 06:10] mattdangerw commented on #114
Looks like the BERT example broke on a recent commit. Just pushed a fix. You should be able to test a whole flow with block of code:
https://github.com/keras-team/keras-nlp/tree/master/examples/bert#quickly-test-out-the-code

That should be enough to see that things are working. You should definitely see the loss going down on fine tuning runs.

[2022-04-16 06:11] mattdangerw commented on #94
Will take a look next Monday!

[2022-04-16 07:44] Stealth-py commented on #114
Oh..
I'll test it soon, thank you!

[2022-04-16 09:04] adhadse opened #125 "Add WSL related setup guide for VSCode and PyCharm"
**Is your feature request related to a problem? Please describe.**
Contributors might not be familiar with WSL and how to setup the project as per WSL, since our BASH scripts relies on bash to run as discussed in #104.

**Describe the solution you'd like**
Add guides/documentation links  to setup WSL environment for VSCode and PyCharm.
As described [here](https://www.jetbrains.com/help/pycharm/usi

[2022-04-16 09:13] adhadse commented on #104
This probably might definitely have to do with PowerShell on windows, but still leaves some questions yet to be answered.

- Switching from Windows to WSL, does definitely helps fixing `format.sh` to stop giving any error with proposed solution of whitelisting the intended files (`targets`).
- **BUT** `isort` continues to fails with error, "Broken 1 Path", when it is given the same input `targets`

[2022-04-16 13:36] Stealth-py commented on #114
One more thing, is there a need to finetune the `batch_size`, because when I try to fine-tune `train_ds`, `test_ds`, and `validation_ds` all three of them uses the `batch_size` before preprocessing, and when I try to reference the same thing inside `build_model` I get the `UnboundLocalError` exception.

[2022-04-18 18:22] mattdangerw opened #128 "Error with tf.data and MLMMaskGenerator for dense inputs"
When using the MLMMaskGenerator for to map over dense, batched inputs in a tf.data.Dataset, we get the following error...

`TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'`

This colab has a reproduction https://colab.research.google.com/gist/mattdangerw/4596df85105ff6e6731128fc79d16bf3/mlmmaskgenerator-bug.ipynb

tf.data + dense, batched inputs might be the most common use case

[2022-04-18 19:15] chenmoneygithub commented on #128
Did some investigation, and the cause is MLMMaskGenerator has unexpected behavior in graph mode. Need more debugging to figure out how to fix it.

[2022-04-18 19:44] mattdangerw opened #129 "Add an MLMHead layer"
This layer can go with the MLMMaskGenerator layer to make it easy to write a masked language model transformer.

The layer should map two inputs:
 - embedded tokens of shape `(batch, sequence_length, model_dim)`
 - mask positions of shape `(batch, prediction_length)`

To one output:
 - predictions of shape `(batch, prediction_length, vocabulary_size)`

 Where the outputs contains either logits or

[2022-04-18 19:48] mattdangerw commented on #129
Rough flow of this layer:
 - `tf.gather` the masked word embeddings using the input positions
 -  add a dense layer from `model_dim` -> `model_dim`
 -  add another dense layers from `model_dim` -> `vocabulary_size`

This last dense layer is where we need to allow re-using the transposed embedding weights.

[2022-04-18 22:23] mattdangerw opened #130 "Add a keras.io guide for pretraining a transformer with keras-nlp"
Working on a keras.io guide for pretraining a keras-nlp transformer model from scratch, using word piece tokenizer, transformer encoder, embedding layers, and our MLM layer helpers.

Will link a draft of this for keras.io when it is up, opening this so we can track for the 0.2.0 release.

[2022-04-18 22:41] mattdangerw commented on #94
@aflah02 a few questions...

 - Would this parser require pandas? Could we avoid the dependency with https://docs.python.org/3/library/csv.html ?
 - Where's the best documentation for what the wordnet file format looks like?
 - If a user wanted to supply their own synonym table when creating a layer, how would they support that?

[2022-04-18 23:10] aflah02 commented on #94
@mattdangerw
- I think we could. I'll look into it but if we're only concerned with synonyms the 2 dictionaries I've created in the end (in the synonym .py file) can be dumped as jsons and used by reading from those dumps directly
- That's what took me the most time to figure out too. I got a breif idea by looking at the Princeton site but it's quite overwhelming at first but it was enough to unde

[2022-04-18 23:13] aflah02 commented on #129
Hey
I can take this up!

[2022-04-18 23:24] #128 closed

[2022-04-19 00:03] mattdangerw commented on #129
@aflah02 thanks, but this one I already have :), made it while working on a guide for keras-nlp. We will open up more issues this week!

[2022-04-19 00:06] aflah02 commented on #129
Ohh!! right I just noticed that it's assigned to you. Sorry about the confusion!

[2022-04-19 00:12] mattdangerw commented on #129
We will likely have a follow up issue here for RaggedTensor support, which could be a good one to learn about ragged tensors, but might also hit some rough edges in the tensorflow library. I can tag you for that and see if it's something you want to take on.

[2022-04-19 00:19] aflah02 commented on #129
Sure I'd be interested to check that out!

[2022-04-19 04:33] adhadse commented on #104
The above issue was resolved by switching from `"${targets}"` to `${targets}`.

[2022-04-19 19:22] chenmoneygithub commented on #67
@abheesht17 Hi! I want to check in if there is anything we can help with ROUGE-N metric. Would you mind sharing what methods you have tried? thanks!

[2022-04-20 00:01] Stealth-py commented on #114
@mattdangerw, update: So, after fine-tuning with the parameters given in the paper I've managed to get an accuracy of `0.6829` after evaluation on the test set. I couldn't figure out a way to fine-tune the `batch_size`, because of the above mentioned issue, so I went ahead with taking `batch_size` as 32.
The best hyperparameters as per the trials come out to be `learning_rate = 5e-05` and `epochs

[2022-04-20 05:55] adhadse opened #134 "Introduce `knlp` as an alias for `keras_nlp`"
Would love to know the views of maintainers and contributor on this.

@mattdangerw, @chenmoneygithub.

[2022-04-20 07:28] adhadse opened #135 "Raise `RuntimeError` if `oov_token` is not found in vocabulary of `WordPieceTokenizer`"
**Describe the bug**
Currently, `WordPieceTokenizer` does not raise any warning if `oov_token` is not provided as parameter.

[Even though it is `oov_token` supposed to exist in `vocabulary`](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/tokenizers/word_piece_tokenizer.py#L113), often time vocabulary is computed from training dataset, meaning user can easily forget about adding `oo

[2022-04-20 14:37] abheesht17 commented on #67
Hey, @chenmoneygithub! I haven't written any code yet, but I've been thinking. I'll come up with some code in a couple of days.

1.  For `tf.sets.intersection()`: This function expects a Sparse Tensor. Here, we can make use of [tf.sparse.from_dense()](https://www.tensorflow.org/api_docs/python/tf/sparse/from_dense) and [tf.sparse.to_dense()](https://www.tensorflow.org/api_docs/python/tf/sparse/to_

[2022-04-20 17:06] chenmoneygithub commented on #134
I feel `knlp` is too vague to be a good alias, let's just keep `keras_nlp`.

[2022-04-20 20:36] mattdangerw commented on #135
Absolutely, we could do a better job with our own error message here instead of relying on tf.text. We should say that we expected to find the oov_token in the vocabulary, show what it is, and ask the user to either pass a vocabulary containing the token, or update the token to something in the vocabulary.

Assigning to you!

[2022-04-20 20:52] mattdangerw commented on #134
Hmm, yeah I think `keras_nlp` should be the status quo for now. Really we need need to make this decisions in tandem with `keras_cv` if we were to change.

But we do have a `kt` alias for `keras_tuner`, so it might make sense to sync up here.

@fchollet do you have thoughts?

Status quo:
[code]

A potential shortcut version:
[code]

Or we could consider dropping `kt` as the canonical import for ke

[2022-04-20 21:18] chenmoneygithub commented on #134
I am a bit surprised that `keras_tuner` has an alias `kt`... - -"

[2022-04-20 21:55] mattdangerw commented on #94
A list of list of synsets would be enough to specify everything right? Couldn't you build up the map of individual words to synsets inside the layer be iterating over each synset during layer initialization?

[code]

Made a rough sketch of how I am imagining an api could look like. What do you think?

[2022-04-20 21:56] mattdangerw commented on #94
Another key question, how does the EDA implemtation and others handle stemming and lemmatization? E.g. finding a synonym for "hats" vs "hat" or "runs" vs "running".

[2022-04-20 23:28] chenmoneygithub commented on #108
Update this issue with more detailed requirements.

The generation util will have the following signature:
[code]
Please check [this colab](https://colab.research.google.com/gist/chenmoneygithub/f21656925f783f66012b9c86b30c3de2/copy-of-kerasnlp-text-generation-greedy.ipynb) for an example implementation. Contributors can use this colab as a start, but it is incomplete, e.g., it does not respect th

[2022-04-20 23:40] Stealth-py commented on #114
Would it be beneficial to use this(from the [BERT paper](https://arxiv.org/pdf/1810.04805.pdf)):
[code]
I've been trying a lot of things, and this seems to work quite well.
Would love to know what you think about this!

[2022-04-21 00:44] adhadse commented on #135
So to conclude we need to:
- Confirm that the user passes an `oov_token` to initializer otherwise raise error.
- Check if passed `oov_token` exists in `vocabulary` otherwise raise error.

[2022-04-21 00:44] mattdangerw commented on #130
Guide is incoming https://github.com/keras-team/keras-io/pull/859

[2022-04-21 00:56] mattdangerw commented on #135
Oh sorry functionality should not change. I was just try to paraphrase an error message above. We should keep `"[UNK]"` as the default for oov_token.

If we don't find the oov token, the user might need to do one of two things
 - Update the vocabulary to include the oov_token.
 - Update the oov_token from `[UNK]` to an oov token that is already in the vocabulary.

Our error message should make thi

[2022-04-21 01:52] adhadse commented on #134
@chenmoneygithub  Even Pandas has `pd` and seaborn goes with `sns`, so the vague feeling might just be a matter of time...🤔

[2022-04-21 05:30] chenmoneygithub commented on #134
@adhadse That comes with a tradeoff between convenience and vagueness - pandas is of a low level, which gets called lots of times within one file. Thus, the benefits of having `pd` alias beats the vagueness it comes with. Differently, for our Keras ecosystem libraries, e.g., KerasNLP, KerasCV and KerasTuner are at a high level, which won't be called lots of times in one file.

Another bad thing ab

[2022-04-21 06:07] aflah02 commented on #94
@mattdangerw
Thanks for the review!

For the first part we can do this but I won't it be more expensive time complexity wise? So If I understand this correctly for each word we first go over the entire lists of lists and find the list which has the word? This would be in worst case checking every single element right as our target word could be the last word in the last list right? or am I missing

[2022-04-21 19:11] mattdangerw opened #137 "TransformerEncoder/TransformerDecoder do not propagate keras masks"
If you have a series of encoder blocks, the first one will correct pass a mask tensor to the MHA layer, but the mask will not propagate the mask to the next encoder block.

Ran into this when trying to just pool the output of a transformer, we end up just pooling every output position including padding.

Repro:
https://colab.sandbox.google.com/gist/mattdangerw/9f6eb19fbc81729d749101f967005043/tran

[2022-04-21 19:12] mattdangerw commented on #137
@chenmoneygithub I think we just need to propagate the mask, but can you take a look and make sure I am not missing anything here?

[2022-04-21 19:14] chenmoneygithub commented on #137
I see, we should probably just explicitly set `output._keras_mask = previous mask`.

[2022-04-21 19:16] mattdangerw commented on #137
I think we would just do this as `compute_mask`?

https://www.tensorflow.org/guide/keras/masking_and_padding#supporting_masking_in_your_custom_layers

[2022-04-21 19:19] mattdangerw opened #138 "TokenAndPositionEmbedding does not propagate keras masks"
`keras.layers.Embedding` with `mask_zero=True` will create an `output._keras_mask` as expected.

`keras_nlp.layers.TokenAndPositionEmbedding` with `mask_zero=True` will not.

https://colab.sandbox.google.com/gist/mattdangerw/f523842e3e7ab4f4124257ba1571e290/tokenandpositionembedding-mask-bug.ipynb

[2022-04-21 19:57] #104 closed

[2022-04-21 20:07] #112 closed

[2022-04-21 20:14] mattdangerw commented on #137
Oops sorry it's even simpler than that. We just need `self.supports_masking = True` in init and a unit test I think.

https://www.tensorflow.org/guide/keras/masking_and_padding#opting-in_to_mask_propagation_on_compatible_layers

[2022-04-21 23:37] mattdangerw commented on #137
Fixed on https://github.com/keras-team/keras-nlp/pull/139

[2022-04-21 23:37] #137 closed

[2022-04-22 06:51] aflah02 commented on #94
@mattdangerw After some investigation, it turns out it's not as difficult as it seemed initially. I can try making a lemmatizer that uses WordNet's morphological processing described [here](https://wordnet.princeton.edu/documentation/morphy7wn)

[2022-04-22 12:05] bhack commented on #11
https://github.com/keras-team/keras-cv/issues/74#issuecomment-1106358785

[2022-04-22 16:55] #138 closed

[2022-04-22 20:25] aflah02 commented on #94
After some further tinkering around and reading the docs I have an Implementation of the Lemmatizer + Synonym Finder [here](https://github.com/aflah02/WordNet-Parser/blob/master/WordNetMorphy.py) (this is not yet complete as it fails to handle phrases instead of word input but I'm working on it and might miss a few edge cases which need some further work) but now it seems we can do this without an

[2022-04-23 15:00] Stealth-py commented on #114
Hey @mattdangerw, would love to get your review on this :D

[2022-04-23 22:49] abheesht17 opened #141 "Layer for Permutation Language Modelling [XLNet]"
Building on https://github.com/keras-team/keras-nlp/issues/54 which dynamically generates masks, I was wondering if we can implement a layer for how XLNet generates masks for its inputs: Permutation Language Modelling.

This is a very good function which explains how it's done:
https://github.com/huggingface/transformers/blob/72728be3dbca26c70dddc8b724eb2c8d901e97dc/src/transformers/data/data_coll

[2022-04-25 18:20] #135 closed

[2022-04-25 18:22] #129 closed

[2022-04-25 18:27] mattdangerw commented on #134
Confirmed with @fchollet the other day. We should prefer `keras_cv` and `keras_nlp`, and consider removing `kt` for keras_tuner from our documentation.

Anyone is of course free to import the libraries however they would like, but we should try to keep the link to keras clear in our own code/docs/guides.

[2022-04-25 18:27] #134 closed

[2022-04-25 18:55] chenmoneygithub commented on #141
@abheesht17 Thanks for opening this feature request!

I have one question - why are we still doing masking at step 3? I am not very familiar with permutation language modeling, but reading some articles, it does not apply masks any more?

[2022-04-25 20:10] mattdangerw commented on #125
Totally makes sense to add a section for Windows to our contributing guide, but let's keep it very brief.

We should just say that given that shell scripts in this repo will not support windows shell/powershell, we recommend WSL as the preferred way to develop from windows. And then link to official resources on how to set up WSL.

We should not include any IDE setup instructions, as we don't want

[2022-04-26 01:33] mattdangerw commented on #114
Hey! Sorry about the delay. I would not worry about any accuracy in particular, once we can see the loss is going down, and keras tuner is effectively choosing between alternatives, that's enough to open a PR for further review.

Re that line in the paper, makes sense. Let's leave the defaults for batch size and num_epochs, and just use keras_tuner to choose the best learning rate.

Re batch size

[2022-04-26 08:02] Stealth-py commented on #114
Thanks for the review! No, I think that's everything yeah.
Alright, I'll open a PR for this in a bit!

[2022-04-26 18:43] mattdangerw commented on #54
This is done! https://github.com/keras-team/keras-nlp/pull/61

[2022-04-26 18:43] #54 closed

[2022-04-28 02:37] mattdangerw commented on #94
Lemmatization and stemming are things we may need to add eventually, but hey are kinda a whole can of worms. Ideally we could consider them separately. I also worry about multi-lingual support there.

Is it possible to prepare a wordnet that contains all the morphological forms on each synset? Then we could sidestep these questions here, and still provide a simple layer as described above.

[2022-04-28 06:21] aflah02 commented on #94
Right multilingual support is also something which we need to take care of.
I doubt there is such a way without implementing the parser ourselves as there can be tons of words which have the same form after the processing is done on them.
I feel we should maybe first work on adding a wordnet API and then we can use it for all sorts of tasks.
For now we just need a lemmatizer and a synonym finder.

[2022-04-28 11:02] adhadse commented on #120
@chenmoneygithub Sorry for the late PR, got stuck in college work. I am stuck on dummy MLM model. Can you please help me out.

[2022-04-28 17:51] #125 closed

[2022-04-29 00:50] chenmoneygithub commented on #120
@adhadse Definitely! What is the problem you see?

[2022-04-29 03:55] adhadse commented on #120
The problem I am facing is most MLM model implementations I have come to see are on BERT, so what are we referring to dummy MLM model?
- Just input and output with no internal working?
- If it is for demo purpose should it be functional or class based model?

[2022-04-29 04:46] aflah02 commented on #94
@mattdangerw while we figure this layer out I think I could work on a different EDA operation which does not require WordNet so that we can get an API design in place on how these layers will work, I'll open that as a separate issue

[2022-04-29 04:52] aflah02 opened #152 "Random Deletion Layer - Data Augmentation"
I've created this issue to specifically discuss the Random Deletion Layer while we figure out how to incorporate WordNet for Synonym Replacement

I've adapted the design mentioned by @mattdangerw [here](https://github.com/keras-team/keras-nlp/issues/94#issuecomment-1104490120) for the same
[code]

[2022-04-29 05:34] chenmoneygithub commented on #120
Got it. Basically here the purpose is to showcase how the mask generator can fit in a workflow, so we just use any model that could run. In fact, the MLM is a bit complex because it requires some gathering. We can either use 1) pseudo-code that briefly summarizes how the training part likes. 2) [MLMHeader](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/mlm_head.py) to show a

[2022-04-29 15:55] abheesht17 commented on #141
Hello, @chenmoneygithub! I think the reason is as follows:

XLNet has multiple factorisation orders since it permutes the input sequence. Suppose our input text is [1, 2, 3, 4], and assume that XLNet generates two permutations - [3, 2, 4, 1] and [2, 4, 3, 1]. Then, in the first case, if we want to compute the updated representation of token "3", we will mask "2", "4", "1" (since they come after "3

[2022-04-29 15:57] abheesht17 commented on #141
This figure explains it well:
![image](https://user-images.githubusercontent.com/31360468/165980813-36e86e66-e202-4363-af38-68b6ac2d770c.png)

[2022-04-29 19:28] mattdangerw commented on #94
Yeah, that's a good call re starting on deletion.

I am worried about adding a ton of language specific rules based code that we directly ship in our library. If we could push that rules based logic into the preparation of a synonym dataset that's fed into this layer, that's definitely preferable for maintainability and accessibility (we aren't hard coding for languages).

Let's keep discussing he

[2022-04-29 19:33] mattdangerw commented on #152
Thanks, this looks good to me!

A few things we should consider...
 - We may want to offer a character or a word level version of this. Random deleted characters could be good for simulating typos.
 - For the word level splitting, we may want to make split points configurable (we could support regex splitting like WordPieceTokenizer for example). `split_pattern: A regex pattern to match delimiters

[2022-04-29 19:45] mattdangerw commented on #20
This is open for contributions if anyone would like to pick it up!

[2022-04-29 19:50] mattdangerw opened #153 "Integrate PositionEmbedding into the BERT example"
We should replace the entire embedding code in this file with keras_nlp and keras components.
https://github.com/keras-team/keras-nlp/blob/master/examples/bert/bert_model.py

[2022-04-29 20:01] aflah02 commented on #94
@mattdangerw Yup agreed a good synonym dataset would alleviate all these language specific issues. I'll continue sharing anything useful that I find here

[2022-04-29 20:29] mattdangerw commented on #152
I think so yeah, input could be a scalar dense tensor or a batched dense tensor.

We could also consider supporting pre-split ragged inputs (in WordPiece we do this for example), if even a configurable split regex is not enough your splitting needs. Probably not something for a first version though.

[2022-04-29 20:44] aflah02 commented on #152
Thanks, I'll keep this at the back of my mind and maybe take this up as a next step once an initial layer is ready!

[2022-04-30 00:51] mattdangerw opened #155 "Add a vocabulary_size argument to UnicodeCharacterTokenizer"
We should add a `vocabulary_size` argument to the `UnicodeCharacterTokenizer` layer that clamps the output code point values to be in the range `[0, vocabulary_size)`.

We should also add a `vocabulary_size()` method as with other tokenizers that returns this value if it has been set, and return `None` otherwise.

Potential docstring:

[code]

[2022-04-30 00:54] mattdangerw opened #156 "Add a vocabulary_size argument to WordPieceTokenizer"
We should add a `vocabulary_size` argument to the WordPieceTokenizer layer that forces the vocabulary size by truncating the passed in vocabulary if necessary.

Potential docstring:
[code]

[2022-04-30 00:56] mattdangerw commented on #156
Some other notes:
 - If the `vocabulary_size` argument is passed, calling `layer.vocabulary_size()` should always match what was passed.
 - If the vocabulary file is shorted that the forced vocabulary size, we can log a warning. `Warning: Setting vocab size to a larger value than the input vocabulary file. Some token ids will never be output from the tokenizer.`

[2022-05-02 19:20] chenmoneygithub opened #157 "[Training] Load BERT preprocessed data into cloud storage"
Run the preprocessing pipeline, and upload the output to cloud storage bucket so that data preparation part is detached from the training part. This is a requirement from Vertex AI training: [link](https://cloud.google.com/vertex-ai/docs/training/code-requirements#loading-data)

[2022-05-03 13:04] aflah02 commented on #155
Hey Matt, if no one else is interested I can take this up!

[2022-05-03 17:21] #113 closed

[2022-05-03 17:31] mattdangerw commented on #156
Thank you!

[2022-05-03 17:31] mattdangerw commented on #155
Go for it! Thanks!

[2022-05-03 18:35] aflah02 opened #159 "Broken Imports"
I think I broke the library as now there are errors due to the utils directory added in the last PR. I think this is because I forgot to add a `__init__` file for the utils folder. I'll create a PR to fix this as locally this seems to fix the issue.

Demo for what's broken is [here](https://colab.research.google.com/gist/aflah02/7f06a9bf29dd0edc5d2aeff9e55c4633/untitled16.ipynb)

[2022-05-03 18:45] aflah02 commented on #159
@mattdangerw I'm not entirely sure how to fix this as if I add a `__init__` file then tests fail citing
[code]

[2022-05-03 18:46] mattdangerw commented on #159
I think adding a __init__ file to the utils directory would be correct. We probably do not need to add the `tensor_to_string_list` function directly to that init file yet.

We may very well want to, but we should answer the question of how we want to use this with a tokenizer first. For now, it can be unexported.

[2022-05-03 18:48] mattdangerw commented on #159
Re why you are getting that, you need to do imports relative the to base of the library. `from keras_nlp.utils.tensor_utils import tensor_to_string_list`, but as I mentioned above, we don't need to add that line quite yet.

[2022-05-03 18:53] aflah02 commented on #159
Thanks @mattdangerw
Oh got it so should I leave the file empty then right? Apart from putting in the license details

[2022-05-03 18:54] mattdangerw commented on #159
yep!

[2022-05-03 19:00] #159 closed

[2022-05-03 20:55] Stealth-py commented on #115
Sorry for the delay on this issue. Still a bit wrapped up with college stuff, will try to finish this ASAP!

[2022-05-03 20:57] #114 closed

[2022-05-03 21:21] mattdangerw commented on #115
No worries at all! Figured this would be sequential after #114

Thanks for all the work here.

[2022-05-03 21:27] mattdangerw opened #164 "Fully test exported library imports"
We recently had a bug https://github.com/keras-team/keras-nlp/issues/159 where a PR was missing an `__init__` file. This meant the installed library was fully broken. However, this did not lead to any failures in our automated test suite.

We need to figure out a way to configure our testing so we are properly checking our installed library imports and filtering out bugs like this.

[2022-05-03 22:11] chenmoneygithub opened #166 "Integrate MLMMaskGenerator into BERT example"
Currently the BERT example writes [custom code](https://github.com/keras-team/keras-nlp/blob/master/examples/bert/create_pretraining_data.py#L392) to generate MLM mask, which is slow. We should replace it with the [MLMMaskGenerator](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/mlm_mask_generator.py).

[2022-05-04 16:52] aflah02 commented on #166
Hey @chenmoneygithub I can take this up incase no one else wants to!

[2022-05-04 20:44] chenmoneygithub commented on #166
@aflah02 Thanks! assigned to you

[2022-05-05 06:27] #155 closed

[2022-05-06 20:29] mattdangerw opened #170 "Docstring improvements for 0.2 release"
We are getting ready to release an 0.2 version of the library along with public documentation on keras.io. Any improvements to our docstrings before launch is appreciated!

You can preview documentation that will launch with the following (this make a venv and keras-io clone in your current directory):

[code]

api docs: http://localhost:8000/api/keras_nlp/
landing page: http://localhost:8000/kera

[2022-05-06 20:56] mattdangerw opened #171 "Bug bash for 0.2 release"
We are getting ready to release an 0.2 version of the library along with public documentation on keras.io. Any help finding bugs before our release appreciated!

A quick way to get started would be to fork the colab below and start trying out our layers, metrics and tokenizers:
https://colab.research.google.com/gist/mattdangerw/b1b114a0c7a1cef60c03ba0ccf403d3d/0-2-bug-bash-quick-start.ipynb

If yo

[2022-05-07 10:06] aflah02 commented on #170
Hey @mattdangerw
This looks great!
There's something I noticed when I was checking out the Unicode Character Tokenizer the example corresponding to Detokenization with invalid bytes seems wrongly formatted and displayed. Not quite sure why though

<img width="425" alt="image" src="https://user-images.githubusercontent.com/72096386/167249661-2d4d40e3-31e3-46fb-b95b-dff60932c07e.png">

[2022-05-09 22:08] chenmoneygithub opened #173 "[Training] Track the progress of BERT Training"
This is an issue for tracking the progress of training BERT example. The model has different sizes: tiny, small, base and large. Only tiny and small fit in a common GPU on GCP. For base and large, we have to move them to TPU for training, or use ParameterServerStrategy.

[2022-05-10 19:03] chenmoneygithub commented on #173
Training config:

| MODEL NAME | NUM LAYERS(L) | HIDDEN SIZE(H) | NUM HEADS(A) | BATCH_SIZE | NUM TRAIN STEPS |
|------------|---------------|----------------|--------------|------------|-----------------|
| BERT SMALL | 4             | 512            | 8            | 256        | 50000           |

Training Stats:
| loss   | lm_loss | nsp_loss | lm_accuracy | nsp_accuracy |
|--------|---------|--

[2022-05-10 21:15] chenmoneygithub opened #175 "glue/sst2 testing dataset is problematic, so we should adjust our finetuning script"
The test split looks incorrect, here is a snapshot:

[code]

There are two problems:
1) The train and validation split use label 0 and 1 for negative and positive reviews, while test split has -1.
2) The snapshot contains both positive and negative reviews, while all have the same label -1.

We should consider filing a bug to tensorflow dataset team, and meanwhile put up a note that our finetuning

[2022-05-10 22:05] mattdangerw commented on #175
This is actually by design! For sst-2 the test set is hidden (hence the -1). This is also true for most (but not all) other glue tasks. The only true way to evaluate all the GLUE scores is to prepare a submission. Essentially having private labels like this is a good way to make sure people don't "game the system" when scoring a model.

This is why we have https://github.com/keras-team/keras-nlp/i

[2022-05-10 22:05] #175 closed

[2022-05-10 23:06] Stealth-py commented on #115
Hey @mattdangerw, I think I spotted an issue with working on glue/mnli tasks with the `glue_finetuning` script.
I was trying to look around what type of predictions the model returns so I tried working with the mnli task, but while evaluating for the same, it returned an error with respect to the loss function used. Not sure why this happened, so I tried to change it some other loss function, here

[2022-05-11 00:40] mattdangerw commented on #115
@Stealth-py hey! Few things here...

First, just FYI, we had a big bug in our finetuning script where we would output logits to a loss that was expecting softmax probs :). So loss was not really going anywhere reasonable. @chenmoneygithub has a fix which should be in shortly https://github.com/keras-team/keras-nlp/pull/176/files

The error you are seeing was just discussed a bit in https://github.

[2022-05-11 13:45] Stealth-py commented on #115
Ah, yeah that should be it. Makes sense, because it got me wondering why it seemed to work with binary crossentropy instead.
I looked at the thread after making the comment xD which is when I realized.

That's true yeah, so basically we find out the predictions on the test dataset using `model.predict()` and then pass the predictions over to `model.evaluate()` if there isn't any label -1 in the te

[2022-05-11 17:34] mattdangerw opened #177 "Re-organize the examples directory"
We'd like to re-organize the examples directory slightly to simplify the scripts there and better allow future contribution.

 - Add a toplevel README describing the requirements for an example.
 - Move the general tools (word piece vocab script), out of the bert directory.
 - Simplify file names.
 - Move most configuration into python files (no json).

[2022-05-11 17:47] mattdangerw opened #178 "Add instructions for running example models on Google Cloud"
All examples should be runnable on cloud with a each to use set of commands.

[2022-05-11 22:31] Stealth-py commented on #115
Yeah.
And, for the evaluation part, I think we can just hard-code the datasets where the labels are private. I suppose that would be better than iterating through each dataset each time.

[2022-05-14 23:36] chenmoneygithub opened #181 "WordPieceTokenizer token splitting"
This is not necessarily a bug, but I find it confusing.

I tried to tokenize a sequence like `"[start] have a nice day"`, but it appears that with the default setup, "[start]" will be split into 3 tokens even if the vocab contains `"[start]"`. I tried to play around with `keep_pattern` - I tried `keep_pattern=r"\[\]"` and some other approaches but got any luck. So my question is how to ignore cert

[2022-05-16 20:13] mattdangerw commented on #181
keep pattern is the regex of tokens to keep that you split on

split pattern is the regex of tokens to split on

sounds like you would like to split differently (e.g. do not split on brackets), so you would need to change the `split_pattern` argument

[2022-05-16 20:17] mattdangerw commented on #181
But overall, given the overall use case you are talking about, it is probably be easier to just pad with a start token after tokenization. Then there's no caveats of messing up translation around real source text that contains brackets, or the string literal `[start]`.

[2022-05-16 20:59] chenmoneygithub opened #182 "TransformerDecoder should support single inputs"
Currently TransformerDecoder must have both `encoder_inputs` and `decoder_inputs`, while for models like GPT2, only `decoder_inputs` is required. We should make a change to mark `encoder_inputs` as optional.

[2022-05-16 21:51] chenmoneygithub commented on #181
Thanks! I am not very familiar with Regex, is it possible to set split pattern as (default split pattern - "\[" - "\]")?

[2022-05-16 22:38] chenmoneygithub opened #183 "[Training] Add checkpoint saving/restoring in BERT pretraining script"
As title suggests.

[2022-05-16 23:40] mattdangerw commented on #181
Hmm, I'm not sure we would want to support people doing math on our default regex pattern, that would be a compat nightmare. Something like this would work
[code]

But overall I think we should discourage something like this as a way to add start and end tokens. We should probably try to make sure our guides and examples show adding a start and end token after tokenization, which would be much les

[2022-05-17 17:32] mattdangerw commented on #170
This is a funny bug, but seems to be with keras.io rendering and not specific to our docs.

https://github.com/keras-team/keras-io/issues/874

[2022-05-17 22:28] chenmoneygithub commented on #173
Training config:

| MODEL NAME | NUM LAYERS(L) | HIDDEN SIZE(H) | NUM HEADS(A) | BATCH_SIZE | NUM TRAIN STEPS |
|------------|---------------|----------------|--------------|------------|-----------------|
| BERT SMALL | 4             | 512            | 8            | 256        | 500000           |

GLUE evaluation:
| mrpc  |
|-------|
| 72.12 |

[2022-05-18 17:45] chenmoneygithub opened #188 "Use preallocated buffer for text generation"
The current text generation implementation relies on tf.concat, which is not XLA compatible. Instead we can use a pre-allocated buffer to hold generated tokens.

As we are currently using generation util mainly for demo/guide, we can revisit this issue when we decide to bake this util into model.

[2022-05-18 22:01] mattdangerw commented on #170
We can track that rendering bug on the linked issue. For now, 0.2 is out!

[2022-05-18 22:01] #170 closed

[2022-05-18 22:01] mattdangerw commented on #171
0.2 is out!

[2022-05-18 22:01] #171 closed

[2022-05-18 23:40] mattdangerw opened #189 "Add a keras.io example using KerasNLP!"
KerasNLP is always looking for new examples on [keras.io](https://keras.io/keras_nlp) the demonstrate how to use the library.

This issue will stay open on a "contributions welcome" list forever. If you have an idea for a new example, feel free to leave a comment here to discuss, and then we can split out an issue to track the specific example once we have consensus.

[2022-05-18 23:49] mattdangerw opened #190 "Add a translation example on keras.io"
We should write a example very similar to the [Spanish English translation example](https://keras.io/examples/nlp/neural_machine_translation_with_transformer/) already on keras.io.

We can use the same dataset, and same basic model structure, but we should use KerasNLP components for tokenization, embedding, encoder and decoder blocks.

Also once we have translations metrics (Rogue and Bleu), this

[2022-05-19 00:00] mattdangerw opened #191 "Add a byte or character level seq to seq example on keras.io"
This could be similar to very similar in structure to the [lstm seq2seq guide](https://keras.io/examples/nlp/lstm_seq2seq/) on keras.io, but show using either the ByteTokenizer or UnicodeCharacterTokenizer (or both).

We should demo training a model with preprocessing applied in tf.data, and then generate text using our new [text generation util](https://github.com/keras-team/keras-nlp/pull/154).

[2022-05-19 00:00] mattdangerw commented on #191
Assigning myself as a placeholder, I believe we may already have some people to work on this.

[2022-05-19 09:12] kvarekamp opened #193 "Why does the docstring say vocab size should be no larger than 999?"
https://github.com/keras-team/keras-nlp/blob/e3adddaa98bbe1aee071117c01678fe3017dae80/keras_nlp/layers/token_and_position_embedding.py#L30

Seems like a very small vocab to me

[2022-05-19 10:52] blackhat-coder commented on #156
I'm sorry for the delay, been busy with school work. Would send in a PR asap.

[2022-05-19 17:53] mattdangerw commented on #193
Thanks, good catch! Yeah that's not a real requirement. The guide we just published uses the layer with a 30k vocabulary (and there is not hard limit that I'm aware of, just memory constraints).

Not sure how that got there but let's remove!

[2022-05-19 18:10] #193 closed

[2022-05-19 23:16] mattdangerw commented on #156
Thank you! Let me know if there are any question I can help with.

[2022-05-20 03:47] aflah02 commented on #166
@chenmoneygithub
Hey
Sorry for the delay
I want to confirm how should I handle the extra parameters in the MLMMaskGenerator which are not used in the function
From what I got in the following piece of code:

[code]

- masked_lm_prob is the value for the mask_selection_rate parameter
- max_predictions_per_seq is the value for the mask_selection_length parameter
- rng is the value for the rng parame

[2022-05-20 04:23] aflah02 commented on #152
Hey @mattdangerw
I've been thinking about this issue for some days now and I'm not quite sure what's the best way to approach this. Should I go for a recursive approach? So when I reach to the level which has strings I'll treat that as my base case? or Should I create a function and map it to the tensor in the call? or am I missing something and there's a better way out of this?

[2022-05-20 18:37] aflah02 opened #197 "Typo in Docs on Keras.io"
The docs [here](https://keras.io/guides/keras_nlp/) have a heading of KerasCV instead of KerasNLP. Seems like a minor oversight

[2022-05-20 18:52] mattdangerw commented on #197
Thanks! Fix is here https://github.com/keras-team/keras-io/pull/882

[2022-05-20 20:39] #197 closed

[2022-05-21 01:07] abheesht17 commented on #190
Hello, @mattdangerw! As discussed, I'd be glad to take this up. Thanks! :)

[2022-05-21 15:35] blackhat-coder commented on #156
Hi @mattdangerw , how do I run tests ?
currently written testcases

[2022-05-21 22:17] chenmoneygithub commented on #173
We fixed some initialization issues, and reran the experiment, it gets closer to the official reported score.

Training config:

| MODEL NAME | NUM LAYERS(L) | HIDDEN SIZE(H) | NUM HEADS(A) | BATCH_SIZE | NUM TRAIN STEPS |
|------------|---------------|----------------|--------------|------------|-----------------|
| BERT SMALL | 4             | 512            | 8            | 256        | 500000

[2022-05-21 22:36] chenmoneygithub commented on #166
@aflah02 thanks for working on this! Re your question:
- mask_token_id: this should be the index of "[MASK]" in the vocab.
- unselectable_token_ids: you can leave it as default. Usually this is the same as padding token id, which means we don't want to mask out padding tokens for MLM.
- mask_token_rate, random_token_rate: set as 0.8 and 0.1 separately. This stands for for selected tokens, 80% chan

[2022-05-22 21:16] shubranshugupta commented on #189
Hey! I am an absolute beginner, I would like to contribute to this project. Also, suggest some relevant resources.

[2022-05-23 15:58] abheesht17 opened #198 "Fix Loose Dependency Imports"
In https://github.com/keras-team/keras-nlp/blob/master/API_DESIGN_GUIDE.md#avoid-new-dependencies,
[code]
raises a `NameError` if `rouge_score` is not installed. We can change this to

[code]

Also, all the tests fail because we haven't added `rouge_score` to `setup.py`. How do we deal with this issue?

[2022-05-23 17:15] aflah02 commented on #191
Hey
I can take this up

[2022-05-23 18:54] mattdangerw commented on #198
Thanks! We should actually just do.

[code]

That is simpler than `sys.modules`.

Re how to do testing, we should add the pip dependency to the `extra_require` `tests` block of our setup.py. That will add the install during our ci actions.

[2022-05-24 03:14] mattdangerw commented on #156
Check out the environment and test running sections of our contributing guide.

https://github.com/keras-team/keras-nlp/blob/master/CONTRIBUTING.md#setting-up-an-environment

If something is broken or unclear there, let us know!

[2022-05-24 12:20] abheesht17 commented on #198
Ah, yes. The above code snippet is way easier. Will update the PR! Thanks!

[2022-05-24 18:09] mattdangerw opened #204 "[Training] During checkpoint restore, move the dataset iterator to the correct spot"
Currently we are using the BackupAndRestore callback to resume training on our examples after a failure. We also need to make sure that we reset the dataset iterator to the correct spot, so we do not accidentally overtrain on the beginning of our dataset for a job that is killed frequently.

[2022-05-24 20:36] #177 closed

[2022-05-26 17:48] aflah02 commented on #152
Hey @mattdangerw
I've been working on this and I have an implementation [here](https://colab.research.google.com/gist/aflah02/46175c2534eec94db3333b9889313c85/random-deleter.ipynb)
I am stuck currently at the part where I need to handle non scalar inputs would be great if you can check this out and share any suggestions

[2022-05-27 01:34] abheesht17 opened #209 "Add a `special_tokens` argument in WordPieceTokenizer (and potentially, other tokenizers)"
Consider the following code snippet:

[code]

[code]

[code]

[code]

The `[SEP]` token gets chopped off. While it is fine that other tokens got chopped off (since we have set maximum sequence length as 3), the `[SEP]` token should remain since it is a special token. Maybe, if we add an argument `special_tokens`, we can be mindful of the tokens to be preserved during truncation.

[2022-05-27 18:12] aflah02 opened #210 "Adding Docs for Util Functions to keras.io"
Currently the docs for the util functions aren't displayed on keras.io, is there a reason for this?
I think it would be great if they can be displayed [here](https://keras.io/api/keras_nlp/) as well!

[2022-05-27 19:33] mattdangerw commented on #152
@aflah02 yeah, definitely we need to support the bached 2D case at a minimum. Potentially this could be done with RaggedTensor and no map function? Something like...

[code]

Would that work?

[2022-05-27 20:00] mattdangerw commented on #20
@chenmoneygithub assigning you again as it sound like you are actively working on this!

[2022-05-28 05:47] aflah02 commented on #191
@mattdangerw Just to confirm I should use the same LSTM model right? or should I use KerasNLP's encoder-decoder components?

[2022-05-29 19:16] chenmoneygithub commented on #209
To me the purpose of this `special_tokens` is unclear - basically in your use case, `special_tokens` are those tokens we want to keep even if out of the range of `sequence_length`. Imagine you have a batch with two sequences ["Have a nice day [SEP]", "You too [SEP]" ], and we set `sequence_length=3` and `special_tokens=["[SEP]"]`, then we will end up with ["Have a nice [SEP]", "You too [SEP]"] bec

[2022-05-30 16:29] abheesht17 commented on #209
We will end up with `["Have a [SEP]", "You too [SEP]"]` if we have a sequence length of 3.

The reason for preserving `special_tokens` this is as follows:
[code]

We have two cases. If the length of the tokenised sequence is less than the desired length, the `[END]` token will be preserved.
[code]

However, if the length of the tokenised sequence is greater than the desired length, the `[END]` tok

[2022-05-30 16:40] abheesht17 opened #212 "Add Support for Multi-Variable Input to a Model in Greedy Search"
Currently, this is how the `keras_nlp.utils.greedy_search` method is used:

[code]

Basically, we pass a function `token_probability_fn`, and a `prompt` (among other args).

Now, in the function body, we pass `prompt` as input to the model, compute probabilities of the token at the next timestep and choose the one with the maximum probability. This token is then appended to `prompt` and we repeat

[2022-05-30 17:10] abheesht17 commented on #210
I think the docs are updated with every release. Not sure though.

[2022-05-30 17:16] abheesht17 commented on #190
Linking the PR here: https://github.com/keras-team/keras-io/pull/890

[2022-05-30 17:19] abheesht17 opened #213 "Add a "Text Classification with FNet" Example on keras.io"
Discussed offline with @mattdangerw.

Key points:
-  Will be going with the SST-2 dataset.
- Can show performance comparison of FNet vs Transformer.

[2022-05-31 16:07] aflah02 opened #215 "Stop Word Dropout Layer - Data Augmentation"
This is an extension to the [Random Deletion Layer](https://github.com/keras-team/keras-nlp/issues/152). I currently plan to use this issue to link the next PR which will add Stop Word Deletion specifically to the Random Deletion Layer as a parameter. I can also see this being a stand alone layer but probably the former is better!

[2022-05-31 17:23] abheesht17 commented on #212
Closing this. We can make an inner function for every input encoder sequence.

[2022-05-31 17:23] #212 closed

[2022-06-01 10:12] aflah02 opened #216 "Sentence Shuffle Layer - Data Augmentation"
This issue deals with the Sentence Shuffling technique for Data Augmentation. Essentially for long paragraphs this technique will reorder the sentences present in them to generate new data samples!

I can't think of any args for this though. I first spotted this technique [here](https://www.kaggle.com/code/shonenkov/nlp-albumentations?scriptVersionId=33158122&cellId=6) and the original author also

[2022-06-01 19:16] aflah02 commented on #152
@mattdangerw
Thanks for the reviews
In regards to this [comment](https://github.com/keras-team/keras-nlp/pull/214#discussion_r887190121) for random character deletions I feel separate layers makes more sense as at the end of the day the layers can be stacked by the user. Having them together would essentially mean having 2 separate logics operating in the same file having them separate would also

[2022-06-01 19:25] mattdangerw commented on #152
@aflah02 that makes sense to me. In that case, let's call this `RandomWordDeletion`, it's more specific to what we are doing here, and leave us room to grow our offering.

[2022-06-01 21:00] chenmoneygithub commented on #182
@jessechancy Thanks!

[2022-06-01 21:37] mattdangerw commented on #210
We should only document the utils that we are exporting in an `__init__.py`. Anything not can really be considered package private currently. That's true for the utility to convert tensors to strings. We aren't really sure how we want to expose that (in tokenizer or separately), so we have not included it in `__init__.py` yet.

That's not true of `greedy_search` though, as soon as we cut our next

[2022-06-01 21:37] #210 closed

[2022-06-01 21:39] mattdangerw commented on #191
No strong preference from me for the model. This guide will be more about tokenizers and greedy_search than the model itself.

LSTM could be nice and simple, but if you can make a small transformer that performs better and reads better that is fine too! Whatever you prefer.

[2022-06-01 21:52] mattdangerw commented on #209
See also https://github.com/keras-team/keras-nlp/issues/181

In general I don't think we should be trying to support string manipulation like this to do start end token packing or padding. It is always going to be fragile. It is generally a better idea to add ids after tokenization. The [BERT packer layer](https://github.com/keras-team/keras-nlp/pull/88/files), which is blocked on a bug in TFText,

[2022-06-07 05:54] mattdangerw commented on #152
@aflah02 here's a tracable set of ragged tensor ops based on the TF Text `RandomItemSelector`.

https://colab.sandbox.google.com/gist/mattdangerw/efdf506bd1719192e93be371d6eb68c6/tracable-delete-fn.ipynb

[2022-06-07 05:56] mattdangerw commented on #215
Can you explain more of how this will work? This will be a layer that randomly deletes stop words? Or deterministically drops stopwords?

[2022-06-07 06:35] aflah02 commented on #152
@mattdangerw Thanks a ton! This looks great and will the work much easier. I'll make sure to go through these ragged tensor ops for future use as well!!

[2022-06-07 17:21] mattdangerw commented on #216
My suspicion is that we should not do this right now. Currently, sentence boundaries are not something we are working with in KerasNLP. The assumption is that users will need to split a dataset into sentences with something like nltk before loading them into a training job. Our BERT example shows this actually.

The first thing to add, if anything, would probably be a sentence splitting utility. S

[2022-06-07 17:35] aflah02 commented on #216
This makes sense Thanks @mattdangerw I'll focus on EDA and related layers for the time being!

[2022-06-09 21:23] jessechancy opened #219 "Saving and loading TransformerDecoder/Encoder with custom objects rebuilds the layer."
**Describe the bug**
When loading a model with TransformerDecoder, with the custom objects option, it rebuilds and reinitializes the layers within TransformerDecoder.

**To Reproduce**
In keras_nlp/layers/transformer_decoder_test, change the test case of test_save_model by changing the load_model line  to:
(https://github.com/keras-team/keras-nlp/blob/38ca02b96b1a9100bcc76d123b399ecbc1f902c2/keras

[2022-06-10 17:37] mattdangerw opened #220 "Add a start and end token packer layer"
[code]

[2022-06-10 17:40] mattdangerw commented on #220
@abheesht17 rough docstring above. Feel free to give any feedback!

If start_value is not provided, don't add it.
If end_value is not provided, don't add it.
If pad_value is not provided, pad with the defaults of `ragged.to_dense()`. E.g. `0` or `""` depending on type.

Ideally this could replace your preprocessing for the translation example so preprocessing looks like `packer(tokenizer(inputs))`

[2022-06-10 17:43] abheesht17 commented on #220
The doc-string LGTM! Will open a PR for this ASAP.

[2022-06-12 16:08] abheesht17 commented on #65
Rough Implementation: https://colab.research.google.com/drive/1uX5V98N1apnNHJTLQAecIz2H8yQfL5fK?usp=sharing

[2022-06-12 16:08] abheesht17 commented on #65
Rough Implementation: https://colab.research.google.com/drive/1uX5V98N1apnNHJTLQAecIz2H8yQfL5fK?usp=sharing

[2022-06-13 07:25] #216 closed

[2022-06-13 07:26] aflah02 opened #223 "Random Swaps - Data Augmentation"
Issue discussing the nuances for the Random Swaps layer.
Rough colab implementation can be found [here](https://colab.research.google.com/gist/aflah02/236ff822f8eeb29f95423f664afff73a/randomswaps.ipynb)

[2022-06-16 01:47] #56 closed

[2022-06-18 11:32] abheesht17 commented on #52
@mattdangerw, I reckon this issue can be closed since we have examples on keras.io; I guess we don't really need notebooks here?

[2022-06-18 11:40] abheesht17 commented on #209
This issue has been solved after adding "Packer" layers. Let's close this.

[2022-06-27 21:44] chenmoneygithub opened #236 "We need a warning when top_k_search has k > vocab_size"
This is about [`keras_nlp.utils.top_k_search`](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/utils/text_generation.py#L272), now when we have `k > vocab_size`, we silently pick the min value between those 2. But it would be nicer if we can prompt user a warning that the `k` is invalid.

[2022-06-27 21:49] chenmoneygithub commented on #236
@jbischof Thank you!

[2022-06-28 00:54] mattdangerw commented on #209
Sounds good! Thanks.

[2022-06-28 00:54] #209 closed

[2022-06-28 19:45] jessechancy opened #238 "StartEndPacker and MultiSegmentPacker should support 2D tensors"
**Describe the bug**
StartEndPacker and MultiSegmentPacker should support 2D tensors, in addition to 1D and RaggedTensors. It currently gives an error message for 2D tensors.

**Expected behavior**
Packers should have their desired behaviors work on 2D tensors too.

**Would you like to help us fix it?**
Yes

[2022-06-28 19:49] abheesht17 commented on #238
Hello, @jessechancy! Discussed this error with @mattdangerw and @chenmoneygithub yesterday. Basically, the error which you are talking about is thrown when we execute the layer eagerly. This line is the cause: https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/layers/start_end_packer.py#L109. I tried replacing this line with `inputs = tf.ragged.constant(inputs)` but it threw some other

[2022-06-29 02:40] abheesht17 commented on #93
Hey, @innat! Are you still working on this? If not, I'd like to work on this. Thanks! :)

[2022-06-29 07:33] innat commented on #93
@abheesht17 I'm not working on it. Please, take action if you want.

[2022-06-29 10:14] abheesht17 opened #241 "Make Decoding Functions Graph-compatible"
Made an attempt to do the above here: https://colab.research.google.com/drive/1PBMzeBd-HyFE0o4VXwk19-kqHIhOZM49?usp=sharing. Ran into an issue:

[code]

This is most probably a bug in Keras. This is the origin of the error: https://github.com/tensorflow/tensorflow/blob/v2.9.1/tensorflow/python/ops/array_ops.py#L4510. All these `.dtype` calls throw an error. I'll open an issue in the Keras reposito

[2022-06-29 13:44] abheesht17 opened #242 "Add a `tokenizer` arg for ROUGE"
Currently, the [`rouge`](https://github.com/google-research/google-research/tree/master/rouge) package does not have functionality to pass a custom tokeniser. This commit takes care of that: https://github.com/google-research/google-research/commit/61ce9f0ca76025dac5b671c0631e443a9975a8a3. However, it is not part of a release yet. Waiting for the repo maintainers of `rouge` to make a new release s

[2022-06-29 13:56] abheesht17 commented on #93
Thanks, @innat! @mattdangerw, I can take this up (if we want this layer) :)

[2022-06-29 22:13] #213 closed

[2022-06-29 22:37] jessechancy commented on #238
The tf.shape(tf.ragged.constant(...)) only throws an error in tf 2.8, it's fixed in tf 2.9. Also, the packers have been updated to support 2D dense tensors, so I will close this issue.

[2022-06-29 22:37] #238 closed

[2022-06-30 20:07] mattdangerw commented on #241
Thanks for opening! Definitely this is a good thing to work on, getting efficient function tracing support for sequence generation is important. There's actually two variants to this requirement.
 - We should be able to trace functions normally (e.g. in a keras model, or with @tf.function).
 - We should be able to trace functions with XLA (e.g. a keras model or @tf.function with jit_compile=True).

[2022-07-01 01:04] abheesht17 opened #247 "Use Graph Ops to Implement BLEU Score"
Currently, we use `tf.py_function` to implement BLEU score. This is because the graph mode implementation which we tried out wasn't very efficient. This notebook compares the two approaches: https://colab.research.google.com/drive/1TZ8XnrmMcU8ZE2J-3amb44p-U-hxER53?usp=sharing.

We believe that the slowdown is mainly because of the code snippet which finds the common n-grams between the reference a

[2022-07-01 20:44] mattdangerw opened #248 "Add a vocab training utility for word piece"
We would like to add a vocab training utility for wordpiece. This can leverage the utilities for doing this in tensorflow text.

Note that we do not have to cover all the use cases here, or be performant for all data sizes. We should just aim to build a useful tool that covers than majority of common training use cases.

[2022-07-01 20:44] mattdangerw commented on #248
@jessechancy will be working on this!

[2022-07-01 20:48] mattdangerw opened #249 "Add a model proto training utility for sentence piece"
Along with https://github.com/keras-team/keras-nlp/issues/248, we should add a utility to train a model proto for sentence piece. This can leverage the sentencepiece pip package to run their trainer.

We should not expose most of the option the sentencepiece trainer has, the goal will be for this to cover the majority of use cases, with advanced users till using the sentencepiece pip package direc

[2022-07-01 20:48] mattdangerw commented on #249
@aflah02 here is the sentencepiece one!

[2022-07-01 20:57] aflah02 commented on #249
Thanks @mattdangerw 😁

[2022-07-03 16:13] aleemkhan62 commented on #46
Hi All,

Just curious if anyone has found any sort of work around for this issue. My conclusion after reading related issues is that its not currently possible to incorporate popular BPE tokenizers (roberta/GPT2) within tensorflow-text pipelines?

[2022-07-03 18:37] Suzan009 opened #250 "an example with AI4Code competition?"
**Is your feature request related to a problem? Please describe.**

There is an on-going different type of nlp competition in kaggle. Can we use keras-nlp to solve this problem?

https://www.kaggle.com/competitions/AI4Code/

[2022-07-04 22:19] chenmoneygithub commented on #250
@Suzan009 Hi! I took a pass over the task, and my understanding is at a high level, this is not very different from text understanding. Basically you want to model the correlation between markdown cells and code cells, but the correlation is represented in "orders" rather than something like a correlation score.

One thing I have in my mind is if you want to build a BERT-like model, you can use `k

[2022-07-08 02:43] innat opened #257 "Add a discussion tab to `keras-nlp`?"
**Is your feature request related to a problem? Please describe.**

I think it would be nice to open a discussion tab for keras-nlp, (like we've in [keras-cv](https://github.com/keras-team/keras-cv/discussions)). Through this contributors can share ideas for the improvement of the API.

[2022-07-08 21:04] mattdangerw commented on #257
That sounds good to me! Let me check with some other folk and enable this if everyone is onboard.

[2022-07-08 22:30] mattdangerw opened #259 "Demo BLEU in the spanish-english translation example"
Once we land the BLEU metric, let's add BLEU to the mix of metrics we are showing off here:
https://keras.io/examples/nlp/neural_machine_translation_with_keras_nlp/#evaluating-our-model-quantitative-analysis

[2022-07-08 22:30] mattdangerw commented on #259
@abheesht17 does this make sense to you? Would you like to add this as a minor improvement?

[2022-07-08 22:33] mattdangerw commented on #108
This is now fixed!

[2022-07-08 22:33] #108 closed

[2022-07-09 01:34] abheesht17 commented on #259
It does! Will add it :)

[2022-07-09 18:21] chenmoneygithub commented on #46
@aleemkhan62 Currently you can use BPE via tf_text.SentencePieceTokenizer only if you have a pretrained model proto. We are looking into a better solution on it! please stay tuned, thanks!

[2022-07-09 18:22] chenmoneygithub commented on #257
I like the idea too, let's make it!

[2022-07-10 00:36] #257 closed

[2022-07-11 17:39] #236 closed

[2022-07-11 23:35] #65 closed

[2022-07-12 18:58] DavidLandup0 opened #266 "Adding `embed_dim` argument to `TransformerEncoder` and `TransformerDecoder` layers"
**Is your feature request related to a problem? Please describe.**

Currently, both `TransformerEncoder` and `TransformerDecoder` accept an `intermediate_dim` argument, allowing users to specify the latent space dimensionality, but inherit the output/embedding dimensionality from the input. With non-standard applications (when you don't first pass the input through a `TokenAndPositionEmbedding`),

[2022-07-12 23:02] chenmoneygithub commented on #266
@DavidLandup0  Thanks for reporting the PR!

I would like to understand more about your concern - are you saying it is possible that the input does not have a feature dimension? In your example, you want to have a dense layer before calling the TransformerEncoder, but would it still have the feature dimension? If possible, could you share a colab of your proposed workflow? thanks!

[2022-07-13 08:16] DavidLandup0 commented on #266
Sorry if I misrepresented it - the situation I was talking about is a bit more specific. For image captioning, the input to the encoder is the output of a ConvNet in my case, which has a shape of `(7, 7, 1280)`. It's reshaped into a "sequence" of `(49, 1280)` for the encoder to encode. Naturally, the encoder projects it into a 1280-dim latent representation, because it inherits the dimensionality

[2022-07-13 08:44] DavidLandup0 opened #270 "`TokenAndPositionEmbedding`, `TransformerEncoder` and `TransformerDecoder` can be saved, but prevent the model from being loaded"
**Describe the bug**
Some of the new custom layers correctly override the `get_config()` method, so as to be able to be saved, but when a model is saved in `h5` format - they can't be loaded.

**To Reproduce**
https://colab.research.google.com/drive/1vjyTkuXCV6FTpHcP-_f41BxwizxpYe1q?usp=sharing

**Expected behavior**
The constituent layers not being required to be passed in as custom objects.

**A

[2022-07-14 17:11] chenmoneygithub commented on #270
@DavidLandup0 Thank you for reporting the issue!

To clarify, the saving/loading works with Keras saved model format, but breaks with h5 format. I checked the error, and it implies `TokenAndPositionEmbedding` should be passed as a `custom_object`. Could you share your proposed fix? Thanks!

@mattdangerw h5 is the legacy saving format from TF1 IIUC, do we want to support it in kerasNLP? if so, we s

[2022-07-18 05:46] chenmoneygithub commented on #266
@DavidLandup0 Sorry for getting back late! A little trapped on random stuff.

Thanks for putting up the code example, it's very clean! We talked about this issue when we design the interface of TransformerEncoder actually, and found that commonly people set the same size of input and output, and the workaround is pretty straightforward. One design philosophy we follow is to avoid long arg list, wh

[2022-07-19 17:14] mattdangerw commented on #46
To add a little more color for others finding this issue, you can train a BPE-style vocabulary with [sentecepiece](https://github.com/google/sentencepiece) today, and a sentencpiece model can be used with tensorflow text, or the [SentencePieceTokenizer](https://keras.io/api/keras_nlp/tokenizers/sentence_piece_tokenizer/) in this library. However than might not have the exact behavior as roberta/gp

[2022-07-19 18:18] mattdangerw commented on #270
Thanks for filing!

I think we could clear up this issue by adding `keras.utils.register_keras_serializable(package="keras_nlp")` annotations to our layers. This would support h5, but also force our tf-style saved model loading into the code paths that first restore layers from configs, and then restore weights. Overall, I think this probably makes sense, and is consistent with what keras_cv is do

[2022-07-21 21:54] #250 closed

[2022-07-21 22:38] mattdangerw commented on #266
I think the issue here is with the residual. The inputs are summed with the MHA output, and that output is summed with FF output. That effectively enforce the constraint that input size == MHA output size == FF output size.

You could add a dense layer before or after an encoder/decoder block to change the dimensionality, but that would not be part of the standard transformer block as defined in A

[2022-07-22 17:40] abheesht17 opened #277 "Decoding Functions Not Working when `jit_compile = True`"
When `jit_compile` is set to True, the decoding functions do not work. We wish to add support for the same in the future.

Error: https://p.ip.fi/2TNt

[2022-07-22 21:03] mattdangerw commented on #277
Thanks for opening!

[2022-07-23 03:34] chenmoneygithub commented on #277
Once you pushed the new version, we may want to test on TPU as well. I will add some tests.

[2022-07-27 15:26] #152 closed

[2022-08-07 00:29] chenmoneygithub opened #284 "`char_to_token` in `keras_nlp.tokenizers.Tokenizer`"
`char_to_token` is a method that converts the character index to the token index. See the HuggingFace method [here](https://huggingface.co/transformers/v3.2.0/main_classes/tokenizer.html#transformers.BatchEncoding.char_to_token)

This is useful in span classification tasks, such as SQuaD, as we need to know what is the index of start token and end token of the answer span. For example, if given:
-

[2022-08-07 00:42] chenmoneygithub opened #285 "Make an eval script for SQuaD"
From a high level it is just a classification task, but there are some details to handle. The whole workflow can be described as:

- Data
    1. We can use the SQuaD dataset from tensorflow dataset: [link](https://www.tensorflow.org/datasets/catalog/squad#squadv20).
    2. Preferably just use V2?
- Data preprocessing
    1. Add [CLS] token at the start, and [SEP] token between context and answer.

[2022-08-08 07:07] aflah02 commented on #284
@chenmoneygithub So the API would take in the context, answer and a splitting scheme? and the task would be to find a the matching subarray of the split answer tokens in the split context tokens?

[2022-08-08 18:14] chenmoneygithub commented on #285
It's for general purpose, I am thinking we should have some components for eval purposes.

[2022-08-08 18:16] chenmoneygithub commented on #284
Yes, the goal is to know which token is the start token and which one is the end token.

[2022-08-08 18:46] aflah02 commented on #284
I can work on this if no one else is taking this up!

[2022-08-08 20:15] mattdangerw commented on #285
It might be good to build the script specifically for BERT right now, and then shuffle of the components as we get a better understanding of what we need.

[2022-08-09 10:35] ddofer commented on #130
Is it maybe relevant to add "load a pretrained (BERT) model" to this task?

[2022-08-09 10:39] ddofer commented on #107
An opion to "break it down" a bit would be for the baseline "Replaced token" generator to do random or uniform sampling. (And have a model/EM as the generator function in a future issue/task).
That would mean having all the necessary components (RTD, binary pretraining task), without needing to handle a self looping /extra model for the EM/generation.

In ProteinBERT (Keras based protein language

[2022-08-09 12:40] mattdangerw commented on #130
@ddofer this is incoming! And top priority for us actually.

[2022-08-12 17:45] mattdangerw opened #295 "Support ragged inputs to our text generation utilites"
For the text generation utilities listed [here](https://keras.io/api/keras_nlp/utils/), it would be nice to support ragged inputs, so we could remove the constraint that all seed text in a given batch needs to be exactly the same way.

The simplest way to do this would be to also support a ragged prompt for the generation utils.

[2022-08-12 17:48] abheesht17 commented on #295
Will be glad to take this up!

[2022-08-12 17:56] mattdangerw commented on #295
Thanks!

[2022-08-16 19:15] #241 closed

[2022-08-17 17:58] #249 closed

[2022-08-17 22:58] jbischof opened #297 "Add pretrained checkpoints for Bert"
# Problem
We exposed an API for fully configurable and fixed Bert architectures in PR #288. Most users will not have the resources to do pretraining on their own, however. We should offer checkpoints for `models.BertBase` similar to those used in the original paper.

# Implementation

## Weights

Model checkpoints from the original paper repo ([gh](https://github.com/google-research/bert)) or simi

[2022-08-18 00:30] chenmoneygithub commented on #297
Thanks for putting up the nice design!

Some thoughts from my side:
1. Enum is something not commonly used in Keras code. My take is in general we prefer to use string identifier, @fchollet Tagging Francois for thoughts.
2. The arg `ckpt` is vague to our users, also it's not the actual checkpoint path. HuggingFace use a static method `from_pretrained`, which has a clear meaning "it is loading from

[2022-08-18 14:32] mattdangerw commented on #297
Thanks for the proposal! Some quick thoughts, will dig in more next week.

 - Using tf checkpoints sgtm. But probably good to check with KerasCV folk here. Will they be using tf checkpoints instead of h5 for newer weights they are hosting?
 - Arg name should probably still be `weights`, unless we have a good reason to change. We want a consistent API experience across keras as much as possible.
 -

[2022-08-18 15:14] jbischof commented on #297
Thanks for the comments! Talking to @LukeWood the model loading experience for `keras-cv` is not yet polished. The point of this proposal was to explore the design space so we can optimize the user experience across both packages. Maybe `keras-cv` will want to use our new method. Rejecting anything new out of hand means we cannot innovate.

[2022-08-19 12:23] mattdangerw commented on #297
Yeah sorry didn't mean to reject out of hand! Agreed we should asses when and where we want to diverge from the existing keras application design patterns individually. But we should avoid doing this too much because it comes at a cost when looking at the keras ecosystem as a whole.

In this particular case, I think what you are proposing is against the keras API design style guide.

https://githu

[2022-08-19 20:32] jbischof opened #298 "Add warning about Conda in our README"
I recently found out that hard way that `tensorflow-text` is incompatible with Conda (see [issue](https://github.com/tensorflow/text/issues/644)). Sitting downstream of this library makes `keras-nlp` also incompatible with Conda. We should add a note to our README warning users to use `pyenv` for version management.

[2022-08-20 15:04] GLOMQuyet opened #301 "StartEndPacker Errror failed to use"
**Describe the bug**

ValueError: Exception encountered when calling layer "start_end_packer_14" (type StartEndPacker).

TypeError: object of type 'RaggedTensor' has no len()

**To Reproduce**

https://colab.research.google.com/drive/1y7JifaoLkNmLymyHV96MwkzcH53TImf9?usp=sharing
**Expected behavior**

<tf.Tensor: shape=(2, 6), dtype=int32, numpy=
    array([[ 1,  5,  6,  7,  2,  0],
           [ 1

[2022-08-20 15:44] abheesht17 commented on #301
@GLOMQuyet, I believe this is happening because Colab has an older version of TensorFlow (2.8.2) installed. We need to uninstall it first.

Please check out this notebook: https://colab.research.google.com/drive/1_owl3mwP7VwSsfeLKFKiBmVHqu0DoL4A?usp=sharing

Hope this solves your issue! :)

[2022-08-20 16:00] GLOMQuyet commented on #301
thankyou !

[2022-08-20 21:49] jbischof opened #302 "Add `network_tests/` outside of package foler"
We are adding pretrained tokenizers (PR #287) and models (PR #299) to the package in recent PRs. While we will want to periodically verify the the necessary files are available and have the right permissions, we cannot create unit tests with large network calls.

I propose to add an `network_tests/` or similarly named folder outside the `keras_nlp` package folder where we can add tests for loading

[2022-08-23 04:04] chenmoneygithub commented on #302
Sounds good, one question:

Will this be more like a benchmarking or unit testing? For benchmarking, we probably want to do periodic run on GCP instead of pytest. Or maybe we want both?

[2022-08-23 04:04] #301 closed

[2022-08-23 23:01] jbischof commented on #302
My initial plan was just to test that the files are available and have the right permissions. This only needs to be done on occasion. Would the same be true for the benchmarks or do you want to run them manually @chenmoneygithub?

[2022-08-24 20:54] mattdangerw opened #307 "Support CJK character splitting for WorkPiece tokenizer"
Looking at the original BERT tokenizer code for [chinese characters](https://github.com/google-research/bert/blob/master/tokenization.py#L251), we should be able to add support for CJK languages by splitting on these characters as a pre-tokenization for WordPiece.

We need to do a little thinking on whether this can reasonably by added to the default split behavior for the word piece tokenizer, or

[2022-08-24 20:59] mattdangerw opened #308 "Add pretrained checkpoints for multilingual and Chinese BERT"
As a follow on to https://github.com/keras-team/keras-nlp/issues/297, we should add pretrained checkpoints for multilingual and Chinese language BERT weights.

The original BERT [readme](https://github.com/google-research/bert) has info on these variants

This is currently blocked on supporting cjk for our WordPieceTokenzier https://github.com/keras-team/keras-nlp/issues/307

[2022-08-25 18:26] jbischof opened #309 "Rename `models.Bert()` to `models.BertCustom()`"
### Discussed in https://github.com/keras-team/keras-nlp/discussions/305

<div type='discussions-op-text'>

<sup>Originally posted by **jbischof** August 23, 2022</sup>
When prototyping our model API in PR #288 we were following the example of `keras-cv`. They have `DenseNet` and `DenseNet121` and we have `Bert` and `BertBase`. Unfortunately the convention of naming an architecture "base" in NLP m

[2022-08-25 20:59] mattdangerw commented on #309
Sounds good to me!

Everything feels slightly awkward, but overall I think this is better than the symbol named `Bert` being the niche use case compared to `BertBase` and `BertLarge`.

[2022-08-26 16:02] mattdangerw opened #311 "Fix registering MLMHead as a s"

[2022-08-26 16:07] mattdangerw opened #312 "Register our BERT components as a serializable Keras objects"
We would like to be able to annotate our new BERT models and components with `@keras.utils.register_keras_serializable(package="keras_nlp")`. This will allow the actual python object to restore after saving, which will be import to access things like `model.tokenizer` or `model.token_embedding` after restoring.

[2022-08-26 16:08] mattdangerw commented on #312
Doing this naively leads to some errors.

`E       TypeError: __init__() missing 2 required positional arguments: 'inputs' and 'outputs'`

So a little more investigation will be needed.

[2022-08-26 17:40] mattdangerw commented on #308
Links to the checkpoints:

https://storage.googleapis.com/tf_model_garden/nlp/bert/v3/chinese_L-12_H-768_A-12.tar.gz
https://storage.googleapis.com/tf_model_garden/nlp/bert/v3/multi_cased_L-12_H-768_A-12.tar.gz

[2022-08-26 17:46] #309 closed

[2022-08-26 17:46] abheesht17 commented on #307
Would like to take this up!

[2022-08-26 17:46] abheesht17 commented on #308
Would like to take this up!

[2022-08-26 19:28] jbischof opened #314 "`keras_nlp.models.BertBase` and `keras_nlp.models.RobertaBase` should support user-supplied weights"
Requested in #299 for consistency with `keras-cv`. Currently blocked on finalizing our preprocessing API.

[2022-08-26 21:28] #297 closed

[2022-08-26 22:55] #270 closed

[2022-08-29 17:30] jbischof opened #323 "[Tracking] Performance optimizations for library"
### Discussed in https://github.com/keras-team/keras-nlp/discussions/322

* [`mixed_precision`](https://www.tensorflow.org/guide/mixed_precision)
* [`xla`](https://www.tensorflow.org/xla/tutorials/jit_compile)
* Documentation for performance optimizations

[2022-08-29 19:45] mattdangerw opened #325 "Add XLA testing for BERT and RoBERTa models"
We should check that BERT and RoBERTa models we have just checked in work with XLA compilation today.

We should add a unit test for both models which:
 - Compiles a model with both jit_compile true/false in a parameterized test
 - Calls `model.predict()` on some random inputs.

[2022-08-29 19:46] mattdangerw commented on #325
This goes along with the meta tracking issue https://github.com/keras-team/keras-nlp/issues/323

[2022-08-29 19:46] mattdangerw commented on #325
@abheesht17 this is a small one, but would you be interested in knocking this out? As you just did the same type of test for our generative utils?

[2022-08-29 20:03] mattdangerw opened #326 "Allow instantiating a BERT model in mixed precision from pre-trained weights"
Our BERT models should support mixed precision as described in https://keras.io/api/mixed_precision/.

The models should follow the global policy `keras.mixed_precision.set_global_policy()` when set.

The models should probably also also expose a dtype argument. E.g. `keras_nlp.models.BertBase(dtype="mixed_float16")`.

This should also work when specifying a pretrained checkpoint to load.

[2022-08-29 20:04] mattdangerw commented on #326
This will need to be a little exploratory, I don't think anyone has looked into this yet! It's definitely possible things will already mostly work today; I don't know the details of checkpoint restoration with mixed precision.

[2022-08-29 20:05] mattdangerw commented on #323
Opened two more specific issue for this w.r.t. our BERT/RoBERTa models.

 - xla testing for bert - https://github.com/keras-team/keras-nlp/issues/325
 - mixed precision for bert - https://github.com/keras-team/keras-nlp/issues/326

[2022-08-29 20:24] #307 closed

[2022-08-30 23:45] abheesht17 commented on #325
Will do!

[2022-08-31 21:03] #325 closed

[2022-08-31 22:30] #266 closed

[2022-09-01 19:35] #295 closed

[2022-09-01 19:44] #308 closed

[2022-09-01 22:11] #223 closed

[2022-09-02 11:06] #62 closed

[2022-09-02 18:58] mattdangerw commented on #285
Assigning this to @aflah02 as I think you are the one actively working on this.

[2022-09-02 18:59] aflah02 commented on #285
yup thanks!

[2022-09-02 19:00] mattdangerw opened #333 "Update our glue evaluation script to use tensorflow datasets"
When it was originally written, glue for tfds was totally broken, so we used huggingface datasets.

This appears to be fixed, so let's used tfds instead.

We should update the line here as well to flip the dependency.
https://github.com/keras-team/keras-nlp/blob/master/setup.py#L55

[2022-09-02 19:02] mattdangerw commented on #188
This has been done in
https://github.com/keras-team/keras-nlp/pull/271
https://github.com/keras-team/keras-nlp/pull/300

Closing.

[2022-09-02 19:02] #188 closed

[2022-09-02 19:07] mattdangerw commented on #277
This is mostly done, we just need some changes for beam search @abheesht17 is currently working on. Once beam search gains support, we can close this.

[2022-09-02 19:26] mattdangerw opened #334 "Add a bert large network and pretrained weights"
This work is already underway in https://github.com/keras-team/keras-nlp/pull/331, just opening an issue to track.

[2022-09-02 19:33] mattdangerw opened #335 "Add some basic benchmarking for our text generation utilities"
A lot of recent work around text generation has required us running some simple benchmarking with various compilation strategies.

We should add these as some simple tests in our repo, rather than having these float around in colabs.

[2022-09-02 19:37] mattdangerw commented on #335
Some more notes here...

 - We probably want to make sure our prediction function is running on a real transformer (though the weights can be garbage). Probably ok if this is a fairly small model, but still large enough that prediction function takes more time than the slicing and dicing of our prompt.
 - We can just generate random data to test things out in the benchmark.

[2022-09-02 19:40] mattdangerw opened #336 "Add bert tiny, small, medium network and pretrained weights"
The official bert repo lists a number of smaller variants and provides checkpoints.
https://github.com/google-research/bert

We should provide these as options in our bert model offering. Once we do this, we can also delete the config object for our bert example code, and use the randomly initialized architectures directly for our pretraining example:
https://github.com/keras-team/keras-nlp/blob/m

[2022-09-02 19:45] mattdangerw commented on #336
A couple notes:

I'm proposing we ditch "bert mini" as an offering. That seems like it would avoid some clutter, while still giving us good coverage of sizes of bert.
 - tiny: 2 layer
 - small: 4 layer
 - medium: 8 layer
 - base: 12 layer
 - large: 24 layer

These model will only be available in english, uncased for now. We may want to improve our error messages so that someone trying to instantia

[2022-09-02 19:53] mattdangerw opened #337 "Investigate recreating a GPT-2 forward pass with KerasNLP"
With the addition of a roughly compatible tokenizer with gpt-2 in https://github.com/keras-team/keras-nlp/pull/303, it should be possible to start experimenting with recreating an entire gpt forward pass with KerasNLP components.

This should be more an investigation and validation for now, as we continue to answer some core design questions with our BERT modeling code.

Rough flow:

 - Load a ref

[2022-09-03 22:07] #66 closed

[2022-09-05 06:19] aflah02 commented on #156
Hey @blackhat-coder, are you still working on this?

[2022-09-05 10:11] #215 closed

[2022-09-05 17:21] abheesht17 commented on #337
Tried copying the weights present in the official GPT-2 repo here: https://colab.research.google.com/drive/1zjmKuv--nwTbxHM1jeL0hPL-brHJXwCd?usp=sharing. There is a big difference in outputs though.

On further inspection, there seems to be a difference between KerasNLP's `TransformerDecoder` and Hugging Face's GPT-2 decoder.

KerasNLP TransformerDecoder:

https://github.com/keras-team/keras-nlp/b

[2022-09-06 04:52] abheesht17 commented on #337
Discussed offline. Tweaked the `TransformerDecoder` layer. Able to reproduce output: https://colab.research.google.com/drive/1zjmKuv--nwTbxHM1jeL0hPL-brHJXwCd?usp=sharing

[2022-09-07 03:29] mattdangerw opened #347 "Rework examples/bert pretraining to use KerasNLP preprocessing"
This will be a little investigatory, as it is unclear what the precise solution could look like. Right now, we have a [large preprocessing script](https://github.com/keras-team/keras-nlp/blob/master/examples/bert/bert_preprocess.py) that we inherited from the original bert repo for preprocessing bert inputs for pretraining. Overall it is quite long, and does not leverage KerasNLP components.

We w

[2022-09-07 03:44] mattdangerw commented on #347
One potential way this could work:

Rework the [split sentence script](https://github.com/keras-team/keras-nlp/blob/master/examples/tools/split_sentences.py) to go from a raw wikipedia dump and books text files -> to a set of sharded files with triples of entires with the form `(sentence1, sentence2, next_sentence_label)`. The output file format should either be csv or tfrecords (and sharded).

Th

[2022-09-07 03:53] mattdangerw opened #348 "Don't override train_step in bert_train.py"
We should be able to rework the input data for bert pretraining, to use `model.fit()` directly without a custom `train_step`.

 - We will need to rework our input data into a `(features, labels, label_weights)` tuple.
 - Labels should have both `"masked_lm_ids"` and `"next_sentence_labels"`.
 - Weight should be used for `"masked_lm_weights"` (and I guess we need to pass `tf.ones` for next sentence

[2022-09-07 19:19] #333 closed

[2022-09-07 22:40] mattdangerw commented on #337
I think adding a `normalize_first=False` argument to our `TransformerEncoder` and `TransformerDecoder` blocks makes sense. And this is the only change we need for GPT-2 with `TransformerDecoder`, correct?

We want to be careful about making these basic transformer layers "god objects", and generally not venture too far from the *Attn is all you need* formulation here. But this seems like a common

[2022-09-07 23:59] jbischof commented on #337
I think this makes sense @mattdangerw! The reasoning is that `TransformerDecoder` is a low-level and heavy-lifting module that would be very hard for users to recreate. The reservations I expressed in #343 were about high level convenience wrappers offering many usage modalities that might confuse new users without offering much to advanced users.

@abheesht17 it would be helpful if you could impo

[2022-09-08 00:05] mattdangerw commented on #337
Actually, since I think we have alignment here... @abheesht17 want to just open a PR to add a parameter `normalize_first=False` to both `TranformerEncoder` and `TransformerDecoder`?

We can discuss any naming concerns on the PR.

[2022-09-08 00:14] abheesht17 commented on #337
@mattdangerw, @jbischof - sure, will open a PR for `normalize_first` first! Do we also want to add this parameter: https://github.com/tensorflow/models/blob/master/official/nlp/modeling/layers/transformer_encoder_block.py#L124-L126?

[2022-09-08 01:28] mattdangerw commented on #337
`diff_q_and_kv_attention_layer_norm`? I would very much hope we do not ever add that to the main TransformerEncoder/TransformerDecoder, we don't even support a separate `key_value` input like the block you are linking. That's the level of customization I would want to expose as a separate layer (either model specific, or generic if we really think it's a general purpose one).

Is there a reason we

[2022-09-08 02:22] abheesht17 commented on #337
Nah, we don't need it for GPT-2, just asked because it is related to `norm_first`. They define a separate LayerNorm layer for the **cross-attention layer**, where they have different QKVs. I guess we can skip it, lel.

[2022-09-08 18:06] #334 closed

[2022-09-09 23:43] #336 closed

[2022-09-12 17:30] mattdangerw opened #352 "Fix initializers for composite layers"
We have some layers (`TransformerEncoder`, `TransformerDecoder`, `TokenAndPositionEmbedding`, maybe more). Where we use the same initializer across a number of layers. Due to recent changes in core Keras, this is no longer safe, and leads to the following valid warning.

`UserWarning: The initializer GlorotUniform is unseeded and being called multiple times, which will return identical values each

[2022-09-12 18:54] mattdangerw commented on #337
@abheesht17 with #350 landed, I think we can go ahead and make a "forward pass" PR similar to #304 but for GPT-2.

[2022-09-13 19:21] #277 closed

[2022-09-14 12:16] abheesht17 commented on #326
Did some preliminary investigation here: https://colab.research.google.com/drive/1nyJmQq9PEHkY2OouSAM3pOqQsM9CG69t?usp=sharing.

1. `keras.mixed_precision.set_global_policy("mixed_float16")`: Works. I checked the `compute_dtype` and `dtype` of every layer, which are `float16` and `float32`, respectively. The output is `float16`, as expected.

2. `keras.Model` has `dtype` as part of its `kwargs`: h

[2022-09-14 23:58] #335 closed

[2022-09-15 00:21] abheesht17 opened #358 "Publish an Example Showing/Using Output of Intermediate Layers from Pretrained Models"
The last layer's hidden state is not always the best representation of text. In literature, output from intermediate layers is leveraged as well, to improve predictive performance.

Here is a notebook to get started: https://colab.research.google.com/drive/1mdodbRk6ayA6g0pCTWxoaQB3cJ8ecbjj?usp=sharing.

[2022-09-15 00:34] mattdangerw commented on #358
Thanks!

This is awesome to validate we do indeed have a working solution here, without needing to return a complex object from our modeling APIs with every intermediate output.

This is also more efficient, we don't have to hold references to this intermediate state in the case it's not being used. This is a nice plug for the functional style of Keras models.

Once we are putting up guides on pre

[2022-09-16 19:17] #337 closed

[2022-09-16 20:56] mattdangerw opened #362 "Validate bert pretraining on new code changes"
We have made a number of changes to our bert modeling code of late.

Primary changes are https://github.com/keras-team/keras-nlp/pull/288 and https://github.com/keras-team/keras-nlp/pull/360

We should re-run an entire pretraining job for the base variant, and make sure we are still converging with good performance.

[2022-09-16 21:44] jbischof commented on #362
Would love to see this incorporated with our new preprocessors as well (#343)!

[2022-09-16 21:45] jbischof commented on #362
Long term BERT should also be our first e2e pretraining example using the model API rather than a bunch of custom code.

[2022-09-16 21:51] jbischof opened #363 "Create unique string id for each BERT pretrained checkpoint"
Currently BERT pretrained encoders are specified by their vocabulary alone. This is possible because checkpoints must be called from the correct class (e.g., `BertBase('uncased_en')`).

However, if we want to request checkpoints from any combination of architectures and vocabularies in a task-specific model (e.g., `BertClassifier`) it will be much easier if each checkpoint has a unique name.

Othe

[2022-09-16 22:28] jbischof opened #364 "Specify vocabulary to BertPreprocessing using a checkpoint name"
Currently the vocabulary is specified directly to BertPreprocessor, for example `'uncased_en'`. However, going forward we want to request the vocabulary associated with a checkpoint rather than knowing what vocab the checkpoint used.

See discussion on #361

[2022-09-16 22:50] jbischof opened #365 "Reorganize model code into folders"
As we add more functionality per model, our `models` directory will be easier to read with more structure. Instead of long filenames in a flat structure like this:
[code]

We could have short filenames in a nested structure:
[code]

[2022-09-18 06:38] abheesht17 opened #367 "Make Changes to `RobertaCustom` Layer"
@mattdangerw, @chenmoneygithub -

The original RoBERTa implementation has four different dropout variables: https://github.com/facebookresearch/fairseq/blob/main/fairseq/models/roberta/model.py#L634-L637.

Our `RobertaCustom` layer, on the other hand, has only one: https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/models/roberta.py#L86.

In order to incorporate all four dropout argumen

[2022-09-18 09:15] abheesht17 opened #368 "Make Changes to `MultiSegmentPacker` Layer for RoBERTa"
@mattdangerw, @chenmoneygithub -

For the `MultiSegmentPacker` layer, we need to make one change.

Currently, this is the output of the layer:
[code]

But `<end_token>` is not always used to separate two sequences. For example, this is how RoBERTa does it:
[code]

, i.e.,
[code]

You can check this here: https://huggingface.co/docs/transformers/model_doc/xlm-roberta#transformers.XLMRobertaTokenize

[2022-09-19 18:27] jbischof opened #369 "Create single mid-level API `Bert()` for architecture routing"
As the BERT API is reaching maturity we can see that much of our functionality relies on a architecture having a config-in-code like `BertTiny` ([gh](https://github.com/keras-team/keras-nlp/blob/e7889d65d708b44905ef8181377d702ef8163e02/keras_nlp/models/bert.py#L668)). Most critically, it is not possible for us to load weights from the user or one of our checkpoints unless we know which arch class

[2022-09-19 18:59] mattdangerw commented on #365
I agree that having a nested directory structure is nice!

It seems like we could try to optimize our file structure around pieces that can be updated separately by different contributors. Preprocessing and graph code comes to mind here. Should we split files there?

Re-short names, I actually prefer the model name in the title, because it allows for better quick lookup of files in IDEs and filter

[2022-09-19 21:56] jbischof commented on #365
Thanks for the feedback @mattdangerw. I think if we're unsure about json and short names I'd put this at lower priority. I'll keep the issue open for now so we can revisit.

[2022-09-19 22:04] jbischof commented on #368
Great catch @abheesht17! It's pretty clear that the current layer is overfit to BERT. While we could build one layer that can do many things, I wonder if a refactor that had separate BERT-style and Roberta-style layers but possibly sharing common infra (like truncating and padding) would give us a cleaner API?

[2022-09-19 22:06] mattdangerw commented on #365
Short names is potato, potahto, I would say. Let's just choose one and roll with it.

Json vs python I think is one of those places where in Keras as a whole we would favor python, and it would integrate better with our tooling. I don't see the pro for having a json vs an equivalently structured standalone python file. That point might be worth quickly touching on in a meeting sometime.

[2022-09-20 00:43] mattdangerw commented on #368
Just talked with @jbischof.

I think the laziest approach we can have here is to just keep a forked and unexported layer for the Roberta style packing inside the roberta model code for now. This isn't something we document or stick in an `__init__.py`--it is only exposed for now in the high level `RobertaPreprocessor` that goes along with `BertPreprocessor`.

Then as a follow up, we can have all t

[2022-09-20 00:44] mattdangerw commented on #368
Hopefully, without the need for segment ids, the roberta layer can be a bit simpler anyway.

[2022-09-20 00:55] mattdangerw commented on #367
Just because they are exposing these parameters does not mean we need to as well. We do need compatibility of our forward pass and their forward pass. But we don't need a one to one API.

In the config file you linked they set `activation_dropout = pooler_dropout = 0` and `dropout = attention_dropout = 0.1`. That actually seems fully compatible with the offering we have in `TransformerEncoder`. Do

[2022-09-20 00:57] mattdangerw commented on #367
Agreed we need to handle the differences between XMLR base and XL (it's annoying that their architecture changes between what is supposed to be difference sizes).

But maybe let's start with the easy version of the problem. If XMLR extra large is the outlier, let's just work on all the smaller size first :)

[2022-09-20 01:16] mattdangerw commented on #369
Part of me would be tempted to hold off on this for now. I don't really like `Bert(arch='BertBase')`--it feels like an anti-pattern to expose a classname as a parameter in an exposed API. Fine if we are doing that behinds the scenes, but signing up for that in user facing code makes me a little more wary.

It also seems unclear what level to expose something like this. If we head down the checkpoi

[2022-09-20 01:20] mattdangerw commented on #369
One thing that seems unclear above... If we are removing `BertCustom` does that mean that `keras_nlp.models.Bert` would contain all the hyperparameters like `num_layers`? Or are you proposing we remove entirely the ability to make a `Bert` with custom hypers?

[2022-09-20 02:50] jbischof commented on #369
Good point about this potentially working at many levels with the single string id. Why not `GetMeThatModel('bert_base_uncased_en')? I think this needs more thought.

Part of the confusion is the (in my book) unfortunate pattern of wanting the user to be able to load their own model as well. This leads to silly patterns like the `arch` argument. But I digress.

I may add this as a private util lat

[2022-09-20 02:50] #369 closed

[2022-09-20 17:42] mattdangerw commented on #365
Could we consider something like...

[code]

I'm trying to basically split along lines of independent work here to the degree we can.
 * Allows graph code to come in separate from preprocessing code (this has already happened for us a few times).
 * Code for providing heads can come in later on top.
 * Checkpoints and vocabs can come in later on top (though it will inevitably hit all these files I

[2022-09-20 17:53] jbischof commented on #365
This seems similar to the original proposal but with long names.

* Won't checkpoints and vocabs go in `bert_metadata.py` as described in your comment?
* Where would bert-specific pipelines (a la #346) go?

[2022-09-20 18:36] mattdangerw commented on #365
Yeah, sorry maybe should have done short names!

The main difference was to split the preprocessing and modeling into separate files, and merge the vocab and checkpoint metadata into a single file.

Yes, assuming we go with ID approach, I think splitting a vocab metadata file from a model metadata file is the wrong call. The vocab URL should live right with the model weights for `bert_uncased_en`

[2022-09-20 22:18] jbischof opened #370 "Add string defaults for Bert backbone classes"
In #361 we developed unique string ids and used them for intelligent defaults in `BertClassifier`. We should add defaults to the `BertBase`, `BertLarge`, etc classes as well.

* This should likely be the `uncased_en` model, which has the widest coverage and utililty
* Need to change all callsites and examples that create random graphs.
[code]

[2022-09-20 22:30] mattdangerw commented on #370
I'm not actually too opinionated on wether we add the defaults or not.

There will probably be some models like gpt-2, where having a default is really natural (there is only one option). And other's where it's not it's too magical and implicit. I don't mind `weights=None` for the random graph, especially because that's probably fairly niche.

The only think I would like to push for is consistency

[2022-09-20 22:33] jbischof commented on #370
Let's have a default everywhere. Just splitting this off into a separate issue since it will have a big delta.

[2022-09-20 23:09] #363 closed

[2022-09-21 11:13] grofte opened #374 "ByteTokenizer doesn't accept floats in parameters"
**Describe the bug**

ByteTokenizer only takes integers for some parameters. Which is fine. But it doesn't fail until runtime - which makes it seem like the input is the issue rather than the parameters the class was created with. And you could argue that 5.0 is the same as 5 so the class should convert the input to integers (fairly common in Python).

Source here: https://github.com/keras-team/ke

[2022-09-21 17:29] #352 closed

[2022-09-21 17:32] jbischof opened #375 "Add checkpoints for fine-tuned models"
We have numerous checkpoints for text encoders but there's a lot of value in offering ready-to-go fine tuned models as well.

Thoughts:
* Let's start with fine-tuning on SST using a `BertBase` backbone to minimize the amount of novel code.
* Add a `weights` argument to `BertClassifier` and `classifier_checkpoints` struct to `bert_tasks.py`
* Each `classifier_checkpoints` entry will need to specify

[2022-09-21 18:36] mattdangerw commented on #375
This all sounds good to me!

SST as the first offering sounds great.

This sounds good to me to! I think the "Keras style" worry was more specifically about config objects exposed in API symbols, not about tracking metadata for checkpoints internally.

It seems like for now at least, we have the pattern where the `weights`/`vocabulary` arguments will imply a value for other args. Backbone `weights

[2022-09-21 18:52] mattdangerw commented on #374
Thanks! I can bring this up with the team.

In terms of desired behavior. I would be inclined to not allow floats, because we probably don't want `keras_nlp.tokenizers.ByteTokenizer(sequence_length=5.5)` to actually work.

In terms of how much type checking we want to do, I am less sure. There's two conflicting needs here. We want our layer code to be as browsable as possible, and a lot of type va

[2022-09-21 20:07] chenmoneygithub commented on #375
Just to clarify - do we want to have this information in the saved file, or a config? My preference is to go with a config, e.g.:
[code]

We may also go with no defaults? We can rely on users to choose their desired arch.

I vote for finetuning on our own side rather than load checkpoints. Doing finetuning lets us use our pretrained model offering as a real user, so we can find out the conflicts.

[2022-09-21 21:09] mattdangerw commented on #365
Synced offline, will go with

[code]

I'm going to toss up a PR just doing the file moving, because I think this will only get harder.

[2022-09-21 21:55] grofte commented on #374
If you look at my suggestion it will also fail for `sequence_length=5.5` since `int(5.5)` isn't the same as `5.5`.

I think it makes sense. I got the sequence length from calculating the third quantile of the sequence lengths. Which I think is a reasonable way of choosing it but it is also fair that the function that calculates it returns a float. As long as you check that `int(sequence_length) ==

[2022-09-22 00:46] jbischof opened #377 "Unify modeling API around one class per model type"
# Problem

Our current modeling API avoids creating an explicit config system by using config-in-code classes. These call a generic constructor with hardcoded arguments. In practice this requires us to maintain a bloated set of symbols in order to load a wide variety of checkpoints. If a user wants to add their own checkpoint with a different configuration they first need to create another config-

[2022-09-22 02:17] jbischof commented on #377
While my `BertClassifier` proposal technically works I just realized that we are reusing `bert_base_uncased` to get a `BertBase` arch, which is a bit sloppy and doesn't offer the advertised flexibility. Two alternatives are adding `bert_base_random` to `bert.checkpoints` (clean but not flexible), or somehow allowing a config specification for `backbone` or nested config overall. Ideas welcome!

[2022-09-22 03:49] mattdangerw commented on #377
Thanks very much for the writeup!

I think we may be missing a bigger difference between this proposal and the current API, besides just consistency (though consistency is an important consideration too). In the `keras.applications` mental model, our checkpoint IDs are just "shortcuts" to specify certain parameters directly. It is very illuminating to imagine taking a flow currently from our GCS c

[2022-09-22 04:13] mattdangerw commented on #377
If we did want to stick close to the existing UX, I do think there are some alternatives where we could consolidate the pertained `Bert` into a single symbol without a static construction offering. The obvious one seems like providing an `architecture` argument, that is inferred when `weights=id` is given, and otherwise not. `BertBackbone(architecture="base", vocabulary_size=10_000, weights="file.

[2022-09-28 17:49] jbischof opened #381 "Remove `tensorflow/text` as hard dependency"
While critical for most of our usecases, `tf-text` requires custom tf ops that make installation impossible on non-linux devices and is making simple tasks like compiling API docs more challenging than it needs to be.

Instead, we will ask the user to install the dependency if it is not available.

NOTE: we've had stability issues in the past when the version of `tf-text` and `tensorflow` does not

[2022-09-30 19:07] mattdangerw commented on #381
Put up a solution that I think represents the best setup we can have right now.

This fixes building keras.io on MacOS, give an experimental path to developing KerasNLP on MacOS, and fix stability issues with continuous testing by pinning tf versions.

Hopefully, as M1 becomes better supported by the entire tf ecosystem, we can drop any special casing on MacOS in the future.

[2022-10-05 23:42] jbischof commented on #377
Thanks for the important observation about user-supplied weights @mattdangerw! I've updated the proposal to include a `weights` argument that only pertains to user-supplied weights. We now see that the user journey only differs by a single parameter.

[2022-10-12 03:42] #312 closed

[2022-10-12 20:14] #381 closed

[2022-10-13 00:22] jbischof opened #388 "Add `from_preset` constructor to `BertPreprocessor`"
# Proposal

In #387 we allowed construction of a BERT model from a "preset" model architecture and weights; for example `Bert.from_preset("bert_base_uncased_en")`. I propose to do the same with `BertPreprocessor`, automatically generating the matching preprocessing functionality using the same string id: `BertPreprocessor.from_preset("bert_base_uncased_en")`.

# Preset configuration

We will need

[2022-10-13 17:24] #365 closed

[2022-10-13 18:19] mattdangerw commented on #388
Overall, sounds good to me! Definitely like adding `BertPreprocessor.from_preset("bert_base_uncased_en")`, that will really improve our end-to-end, mid-level usage pattern.

I wonder if it's a little more correct to have `sequence_length=None` in `from_preset` signature, and infer it from the preset config if we do not provide it. I just so happens that all BERT models we currently ship use a 512

[2022-10-13 18:31] mattdangerw commented on #388
Re namespaces, I do think we are signing up for a global namespace of IDs. We probably will store presets for different uses separately out of convenience, but the namespace is global IMO. Long term, we may want to figure out a test for this.

It seems relatively easy to think of `backbone_presets` and `classifier_presets` as separate dicts, and to get the full list of preprocessing presets we jus

[2022-10-14 16:19] piEsposito commented on #46
Any updates here?

[2022-10-14 17:06] abheesht17 commented on #46
https://github.com/keras-team/keras-nlp/pull/303

[2022-10-14 18:25] #377 closed

[2022-10-18 21:02] #388 closed

[2022-10-19 20:20] chenmoneygithub opened #395 "BertPreprocessor does not correctly handle scalar string input"
See the code snippet below:
[code]
The code throws error:
[code]

For a smooth UX, the code snippet is expected to work, as it demonstrates how a single string flows in the Bert model.

[2022-10-19 20:27] chenmoneygithub opened #396 "BertPreprocessor has confusing behavior on lists of strings"
Now `BertPreprocessor` has confusing UX on batch input, mainly because we combine strings together (like NSP). We should be clear on our user journey on the following input types:
1) a string: "This is a string"
2) a list of string: ["holy", "geez"]
3) a list of list of strings [["holy"], ["geez"]]
4) a 1D tensor: tf.Tensor(b"This is a string")
5) a 2D tensor of shape batch * 1: tf.Tensor([["holy"

[2022-10-20 02:55] mattdangerw commented on #395
I think this one is actually not about `BertPreprocessor` so much as the `Bert` functional model. Basically, you would see this issue if you did

[code]

We want to preserve the ability to run preprocess before batching, so it would be incorrect to "uprank" a batch dim at preprocessing time. So the question is how do we want our **model** to handle unbatched inputs.

I agree the current error is r

[2022-10-20 03:08] mattdangerw commented on #396
What we are currently doing now is probably the simplest code wise. We assume the outermost `list` or `tuple` always indicates multiple sequences. Here's the current code
[code]

However, I agree it's confusing. What we probably want is this.

[code]

This will require a little more code I think. But is nicely parallel with things like the `tf.nest` module. And gives a simple user model. Raw input

[2022-10-20 03:10] mattdangerw commented on #396
BTW, I don't like the idea of adding an explicit argument indicating multiple sequences, e.g. `BertPreprocessor(..., pack_multiple=True)`, because we should also apply the same fix we do here to the `MulitSegmentPacker` layer for consistency.

`MultiSegmentPacker(..., pack_multiple=True)` would be just weird.

[2022-10-20 22:03] chenmoneygithub opened #400 "GLUE Finetuning script"
There are several questions about the GLUE finetuning script:
1. GLUE finetuning is basically backbone model + classification head. Shall we make this classification head a standalone API, maybe named as `GlueClassifier`?
2. If YES to 1, can we assume the `GlueClassifier` takes in two args about backbone model? 1) backbone model instance 2) a string identifier tells how to extract the classifier i

[2022-10-20 23:14] jbischof commented on #400
It appears `GlueClassifier` is essentially the same as `BertClassifier`. Why couldn't you reuse `BertClassifier`?

[2022-10-20 23:23] jbischof commented on #395
I assume this means that the [docstring example](https://github.com/keras-team/keras-nlp/blob/db6ed9a7a08e5e1bfc89134f7c6221510c636541/keras_nlp/models/bert/bert_preprocessing.py#L72) is wrong as well? Wish we had a way to run these automatically!

I do see the string passed in a iterable in all our unit tests.

[2022-10-20 23:42] jbischof commented on #370
Deprecated by #387

[2022-10-20 23:42] #370 closed

[2022-10-20 23:43] jbischof commented on #314
Fixed in #387

[2022-10-20 23:43] #314 closed

[2022-10-21 00:05] mattdangerw opened #402 "Port DistilBert to follow Bert model changes"
We had a few larger changes to the bert API:
https://github.com/keras-team/keras-nlp/pull/387
https://github.com/keras-team/keras-nlp/pull/390

As well as some minor cleanups:
https://github.com/keras-team/keras-nlp/pull/397
https://github.com/keras-team/keras-nlp/pull/398
https://github.com/keras-team/keras-nlp/pull/399

We should mirror these where applicable to the DistilBert model code. Since

[2022-10-21 00:07] mattdangerw opened #403 "Port RoBERTa to follow Bert model changes"
We had a few larger changes to the bert API:
https://github.com/keras-team/keras-nlp/pull/387
https://github.com/keras-team/keras-nlp/pull/390

As well as some minor cleanups:
https://github.com/keras-team/keras-nlp/pull/397
https://github.com/keras-team/keras-nlp/pull/398
https://github.com/keras-team/keras-nlp/pull/399

We should mirror these where applicable to the RoBERTa model code. Since we

[2022-10-21 00:09] mattdangerw opened #404 "Port GPT2 to follow Bert model changes"
We had a few larger changes to the bert API:
https://github.com/keras-team/keras-nlp/pull/387
https://github.com/keras-team/keras-nlp/pull/390

As well as some minor cleanups:
https://github.com/keras-team/keras-nlp/pull/397
https://github.com/keras-team/keras-nlp/pull/398
https://github.com/keras-team/keras-nlp/pull/399

We should mirror these where applicable to the Gpt2 model code. Since we do

[2022-10-21 00:09] mattdangerw opened #405 "Port XLM-RoBERTa to follow Bert model changes"
We had a few larger changes to the bert API:
https://github.com/keras-team/keras-nlp/pull/387
https://github.com/keras-team/keras-nlp/pull/390

As well as some minor cleanups:
https://github.com/keras-team/keras-nlp/pull/397
https://github.com/keras-team/keras-nlp/pull/398
https://github.com/keras-team/keras-nlp/pull/399

We should mirror these where applicable to the XLMRoberta model code. Since

[2022-10-21 00:46] chenmoneygithub commented on #400
@jbischof This is my question 1) (should've been more clear) - do we want a reusable `GlueClassifier` or let users create their own classifier for each model?

[2022-10-21 17:40] jbischof commented on #400
Forgive me for not following but if you replaced your custom classifier with a `BertClassifier` I'm pretty sure it would run OOB! Creating a glue script is helpful but I don't see why we would need extra modeling code to accomplish this.

[2022-10-21 18:10] abheesht17 opened #407 "Create a SentencePiece Tokenizer for XLM-RoBERTa"
Currently, in the XLM-RoBERTa preprocessor layer, we modify the indices of the SentencePiece tokenizer output in order to accommodate special tokens. For clarity, take a look at this: https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/models/xlm_roberta/xlm_roberta_preprocessing.py#L38-L42 and this: https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/models/xlm_roberta/xlm_rob

[2022-10-21 18:39] chenmoneygithub opened #408 "Remove the @tf.function annotation in BPE tokenizer"
Currently the method `_bpe_merge_one_step` is annotated with `@tf.function`. Ideally we should not require this annotation, but removing it causes several errors. We should make corresponding fixes and remove the annotation.

[2022-10-21 18:45] chenmoneygithub opened #409 "Add unit tests not requiring remote vocab/merges to BPE tokenizer"
Current [unit tests](https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/tokenizers/byte_pair_tokenizer_test.py) depends on real vocab/merges used in RoBERTa model. We should figure out how to do testing with local vocab/merges.

Note that it is a bit complex to use local vocab/merges to reach a good testing coverage, because BPE merges rule cannot be in arbitrary order. Also to reach a

[2022-10-21 20:59] jbischof commented on #405
See #406 for example PR, thanks in advance!

[2022-10-21 21:00] jbischof commented on #403
See #406 for example PR, thanks in advance!

[2022-10-21 22:34] mattdangerw opened #410 "Allow string output from BytePairTokenizer"
Most of our tokenizers allow string output, when passed `dtype="string"` as a construction arg.

This is useful primarily for debugging and tutorials, as a good way to visually inspect the tokenization.

For example...

[code]

Currently the `BytePairTokenizer` does not support this output mode, we should add it!

[2022-10-21 22:36] mattdangerw opened #411 "Add a RoBERTa preprocessing layer"
Now that we have landed the `BytePairTokenizer`, we should be able to land the preprocessing for the RoBERTa model, modeled after the `BertPreprocessor` layer.

[2022-10-21 22:37] mattdangerw commented on #411
See these files as a template:

https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/models/bert/bert_preprocessing.py
https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/models/bert/bert_preprocessing_test.py

Since we are not yet distributing weights for RoBERTa, the `from_preset` static constructor can simple return a `NotImplementedError`.

[2022-10-21 22:38] mattdangerw opened #412 "Add a GPT-2 preprocessing layer"
Now that we have landed the BytePairTokenizer, we should be able to land the preprocessing for the GPT-2 model.

[2022-10-21 22:41] mattdangerw commented on #412
The BERT preprocessing layers can offer a rough inspiration. The "packing" will likely have to be slightly different, as GPT will generally be used generatively for a single sequence.

https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/models/bert/bert_preprocessing.py
https://github.com/keras-team/keras-nlp/blob/master/keras_nlp/models/bert/bert_preprocessing_test.py

Since we are not

[2022-10-21 22:52] mattdangerw opened #413 "Add a DistilBertClassifier model"
We should add a `DistilBertClassifier` based on the `BertClassifier` model. This will wrap the `DistilBert` model with a classification head.